<!--品牌推广内容的部分开始-->
<style>
    .charonBrandRightCon>ul>li {
        height: 80px;
    }
    .charonBrandDateLong > input, .charonBrandProject > input, .charonBrandPayType > input {
        margin-left: 20px;
        padding-top: 3px;
    }
    .haveListForMoney{
        position: relative;
    }
    .haveListForMoney img{
        position: absolute;
        width: 20%;
        top:-4px;
        right:-2px;
    }
</style>
<div class="charonBrandCon">
    <div class="charonBrandConBanner">
        <img src="https://cdn.adquan.net/images/bigimg/charonBrand05.png/compress.only" alt=""/>
        <a class="charonBrandConJoin" href="#join"></a>
        <ul class="charonBrandConList">
            <li><i></i><span>网站首页优先展示 海量优质会员靶向推荐 快速提升品牌知名度</span></li>
            <li><i></i><span>拥有企业品牌VR展馆 实景立体展现企业资源 完美树立品牌形象</span></li>
            <li><i></i><span>加入幸福天地数字期刊 资源秒速覆盖式惊艳传播 高效打开营销渠道</span></li>
        </ul>
        <ul class="charonBrandConKinds clearfix">
            <li><a href="resourceListMaterial"><em></em><i class="charonBrandConKinds01"></i><span>广告材料</span></a></li>
            <li><a href="resourceListMake"><em></em><i class="charonBrandConKinds02"></i><span>广告制作</span></a></li>
            <li><a href="resourceListMachine"><em></em><i class="charonBrandConKinds03"></i><span>广告设备</span></a></li>
        </ul>
    </div>
    <!--产品介绍的内容开始-->
    <div class="charonBrandIntroduce">
        <p style="font-size: 28px;padding-bottom: 20px;">产品介绍</p>
        <p>在海量优质用户面前让您的品牌得以核心展现，并精准定位您的目标客户.</p>
        <p>什么样的服务能够达到如此效果？</p>
        <p>幸福天地<span style="color:#e03c3c;">品牌推广</span>，位置有限，先到先得！</p>
        <p>我们为您赢得最佳品牌印象，成功缩短信息传达路径，提供最便捷的销售通路.</p>
        <p>迎接品牌导向时代，让您的品牌在同质化商品的竞争中脱颖而出!</p>
        <img src="https://cdn.adquan.net/images/bigimg/charonBrand06.png/compress.only" alt=""/>
    </div>
    <!--产品介绍的内容结束-->
</div>
<!--推广渠道部分开始-->
<div class="charonBrandChannel">
    <div class="charonBrandChannelCon">
        <div class="charonBrandChannelTitle">推广渠道</div>
        <ul class="charonBrandChannelList clearfix">
            <li><em><img src="/themes/<%= staticforder %>/images/charonBrand01.png" alt=""/></em><i>幸福天地网站</i><span>企业品牌将在网站的首页，二级列表页以及详情页黄金位置展示，网站用户将反复浏览记忆，形成品牌概念。</span>
            </li>
            <li><em><img src="/themes/<%= staticforder %>/images/charonBrand02.png" alt=""/></em><i>数字期刊</i><span>企业资源将以图文数据以及音频综合形式立体展现，秒速传递至目标人群手机和邮箱，覆盖面广。</span>
            </li>
            <li><em><img src="/themes/<%= staticforder %>/images/charonBrand03.png" alt=""/></em><i>VR展馆</i><span>用户足不出户即可参观企业环境和产品，实景3D展现，营造高大上的企业形象，轻松赢得客户信赖，提高交易成功率。</span>
            </li>
            <li><em><img src="/themes/<%= staticforder %>/images/charonBrand04.png" alt=""/></em><i>幸福天地自媒体</i><span>我们将在幸福天地微博，微信公众号以及头条文章进行全方位的企业品牌文化推广，线下配合广告行业热门展会，目标人群一网打尽。</span>
            </li>
        </ul>
    </div>
</div>
<!--推广渠道部分结束-->
<!--展现效果展示开始-->
<div class="charonBrandXiaoGuo">
    <div class="charonBrandXiaoGuoCon">
        <img src="https://cdn.adquan.net/images/bigimg/charonBrand07.png/compress.only" alt="">
    </div>
</div>
<!--展现效果展示结束-->
<!--数字期刊的展现效果开始-->
<div class="charonBrandMagazine">
    <div class="charonBrandMagazineCon">
        <img src="https://cdn.adquan.net/images/bigimg/charonBrand08.png/compress.only" alt="">
        <a href="digitalMagazine">查看更多</a>
    </div>
</div>
<!--数字期刊的展现效果结束-->
<!--VR展馆效果开始-->
<div class="charonBrandVr">
    <div class="charonBrandVrCon">
        <img src="https://cdn.adquan.net/images/bigimg/charonBrand09.png/compress.only" alt="">
        <a href="vr">查看更多</a>
    </div>
</div>
<!--VR展馆效果结束-->
<!--品牌推广会员特权开始-->
<div class="charonBrandRight" id="learn">
    <div class="charonBrandRightTitle">品牌推广会员特权</div>
    <div class="charonBrandRightCon">
        <ul>
            <li style="width: 600px;" class="charon01"><em></em><i>优先展示</i><span>发布资源以及品牌形象将在网站黄金位置优先展示</span></li>
            <li style="width: 600px;" class="charon02"><em></em><i>数字期刊</i><span>幸福天地数字期刊将刊登企业资源信息进行覆盖式精准传递</span></li>
            <li style="width: 600px;" class="charon03"><em></em><i>VR展馆</i><span>幸福天地VR展馆将对企业环境和产品进行立体科技展示</span></li>
            <li class="charon04"><em></em><i>自媒体渠道</i><span>幸福天地自媒体渠道对会员开放，在微信公众号以及新浪微博定期为企业品牌和资源作定制式推广</span></li>
            <li style="width: 1000px;" class="charon01"><em></em><i>投标无限量</i><span>在幸福天地招投标板块“接单赚钱”中，对于诱人招标信息时，品牌推广会员没有投标次数限制，想投就投就是任性！
</span></li> <li class="charon05"><em></em><i>专属品牌顾问</i><span>专业后台&nbsp;&nbsp;&nbsp;&nbsp; 专属顾问&nbsp;&nbsp;&nbsp;&nbsp; 全程无忧</span>
            </li>
        </ul>
        <img src="https://cdn.adquan.net/images/bigimg/charonBrand10.png/compress.only" alt="">
    </div>
</div>
<!--品牌推广会员特权结束-->
<!--成为幸福天地品牌会员开始-->
<div class="charonBrandToCommit" id="join">
    <div class="charonBrandToCommitTitle">成为幸福天地品牌会员</div>
    <div class="charonBrandToCommitCon clearfix">
        <div class="charonBrandToCommitCon01">

            <ul class="charonBrandStep01" style="margin-top: 34px;">
                <li class="charonBrandStep01Title clearfix"><i></i><span>Step 1 填写入会信息</span></li>
                <li class="charonBrandStep01Info">
                    <span>姓名</span><input type="text" value="" id="userName" placeholder="您的名字"/>
                    <span>联系方式</span><input type="text" value="" id="phoneNum" placeholder="您的联系方式"/>
                    <span>公司名称</span><input type="text" value="" id="companyName" placeholder="公司名称"/>
                </li>
            </ul>
            <ul class="charonBrandStep02" style="margin-top: 34px;">
                <li class="charonBrandStep01Title clearfix"><i></i><span>Step 2 选择套餐</span></li>
                <li class="charonBrandDateLong">
                    <i>推广期限</i>
                    <input checked type="radio" name="long" value="1季度"> <span>1季度</span>
                    <input type="radio" name="long" value="半年"> <span>半年</span>
                    <input type="radio" name="long" value="1年"> <span>1年</span>
                </li>
                <li class="charonBrandPayType">
                    <i>支付方式</i>
                    <input checked type="radio" name="payType" value="支付宝"> <span>支付宝</span>
                    <input type="radio" name="payType" value="微信"> <span>微信</span>
                </li>
                <li class="charonBrandProject">
                    <i>服务项目</i>
                    <input checked disabled type="checkbox"> <span class="priorshowhover">优先展示</span>
                    <input type="checkbox" id="ckEbook"> <span class="megazinehover">数字期刊</span>
                    <input type="checkbox" id="ckVR"> <span>VR展馆</span>
                    <input type="checkbox" id="ckWeMedia"> <span class="wemediahover">自媒体渠道</span>
                </li>
                <li class="aboutpriorshow">您的公司将在全国范围内优先展示</li>
                <li class="aboutmega">数字期刊每月发行一期</li>
                <li class="aboutwemedia">微信公众号每月发行推文一篇</li>
                <% if(!logined){ %>
                <input type="hidden" id="companyId" value="">
                <input type="hidden" id="userId" value="">
                <li class="charonBrandPrice">原价： <span id="orginalPrice">0</span>元</li>
                <li class="clickfordis"><a href="/users/login">登陆查看折扣价</a></li>
                <% }else{ %>
                <input type="hidden" id="companyId" value="<%= companyIdentifyInfo._id %>">
                <input type="hidden" id="userId" value="<%= userInfo.phoneNum %>">
                <li class="charonBrandPrice">原价： <span id="orginalPrice">0</span>元</li>
                <li class="charonBrandPrice charonBrandPricedis">折扣价： <span id="discountPrice">0</span>元</li>
                <% } %>

            </ul>
            <ul class="charonBrandStep03" style="margin-top: 34px;">
                <li class="charonBrandStep01Title clearfix"><i></i><span>Step 3 等待通过</span></li>
                <li class="charonBrandTips">提交信息后，将有品牌顾问与您取得联系，请保持手机畅通哦！获得您同意后，我们将快马加鞭为您的企业量身定制专属推广方案！幸福天地品牌推广，您值得拥有！
                </li>
                <li class="charonBrandSubmit">
                    <a href="javascript:;" id="submitBrand">提交</a>
                </li>
            </ul>
        </div>
    </div>
    <!--他们这样评价幸福天地品牌推广开始-->

    <!--他们这样评价幸福天地品牌推广结束-->
</div>
<!--成为幸福天地品牌会员结束-->
<!--品牌推广内容的部分结束-->
<%if(logined){%>
<input type="hidden" id="userId" value="<%=userInfo._id%>"/>
<input type="hidden" id="companyId" value="<%=userInfo.company%>"/>
<%}%>
<script>
    $(function () {
        $(".priorshowhover").on("mouseenter", function () {
            $(".aboutpriorshow").show();
        })
        $(".priorshowhover").on("mouseleave", function () {
            $(".aboutpriorshow").hide();
        })
        $(".megazinehover").on("mouseenter", function () {
            $(".aboutmega").show();
        })
        $(".megazinehover").on("mouseleave", function () {
            $(".aboutmega").hide();
        })
        $(".wemediahover").on("mouseenter", function () {
            $(".aboutwemedia").show();
        })
        $(".wemediahover").on("mouseleave", function () {
            $(".aboutwemedia").hide();
        })

        $(".charonBrandDateLong>input").on("click", function () {
            searchPrice()
        })
        $(".charonBrandProject>input").on("click", function () {
            searchPrice()
        })
        function searchPrice() {
            var selProPeriod2 = $(".charonBrandDateLong>input[name='long']:checked").val();
            var ckEbook = $("#ckEbook").prop("checked");
            var ckVR = $("#ckVR").prop("checked");
            var ckWeMedia = $("#ckWeMedia").prop("checked");

            if (selProPeriod2 == "") {
                return;
            }
            $.post("/queryBrandPromotionPrice", {
                period: selProPeriod2,
                priorShow: 1,
                eBook: ckEbook,
                VR: ckVR,
                weMedia: ckWeMedia
            }, function (res) {
                if (typeof res == "object") {
                    $("#orginalPrice").text(res.totalPrice)
                    $("#discountPrice").text(res.discountPrice)
                } else {
                    swal({
                        title: "查询失败!",
                        type: "error",
                        confirmButtonText: "确定"
                    });
                }
            })

        }

        searchPrice()
        $("#submitBrand").on("click", function () {
            var selProPeriod2 = $(".charonBrandDateLong>input[name='long']:checked").val();
            var payType = $(".charonBrandPayType>input[name='payType']:checked").val();
            var ckEbook = $("#ckEbook").prop("checked");
            var ckVR = $("#ckVR").prop("checked");
            var ckWeMedia = $("#ckWeMedia").prop("checked");
                var phoneNum = $("#phoneNum").val()
                var userName = $("#userName").val()
                var companyName = $("#companyName").val()
                if (phoneNum != "" && (/^1[34578]\d{9}$/.test(phoneNum))) {
                    if (userName == "" || companyName == "" || companyName.trim() == "" || userName.trim() == "") {
                        swal({
                            title: "请填写完整",
                            type: "error",
                            confirmButtonText: "确定"
                        });
                        return
                    }
                    $.post("/users/sendVerifyCodeDirect", {
                        phoneNum: phoneNum
                    }, function (res) {
                        swal({
                                    title: '请输入您手机收到的验证码',
                                    text: '<input type="text" id="codeForConfirm" placeholder="验证码" style="display: inline-block;width:300px"/>',
                                    showCancelButton: false,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "确定",
                                    closeOnConfirm: false,
                                    html: true
                                },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        var codeForConfirm = $("#codeForConfirm").val()
                                        if (codeForConfirm == "" || codeForConfirm.trim() == "") {
                                            swal({
                                                title: "请填写验证码",
                                                type: "error",
                                                confirmButtonText: "确定"
                                            });
                                            return
                                        }
                                        if($("#userId").val()){
                                            var company = $("#companyId").val()
                                            $.post("/admin/manage/addNewPromotion", {
                                                companyId: company,
                                                phoneNum: phoneNum,
                                                weMedia: ckWeMedia,
                                                VR: ckVR,
                                                code: codeForConfirm,
                                                eBook: ckEbook,
                                                period: selProPeriod2,
                                                payType: payType
                                            }, function (res) {
                                                if (res == "success") {
                                                    swal({
                                                                title: '已为您生成品牌推广订单',
                                                                showCancelButton: true,
                                                                confirmButtonColor: "#DD6B55",
                                                                confirmButtonText: "去支付",
                                                                closeOnConfirm: false
                                                            },
                                                            function (isConfirm) {
                                                                $.post("/users/doLoginWithVC", {
                                                                    phoneNum: phoneNum,
                                                                    code: codeForConfirm,
                                                                    autologin: true
                                                                }, function (data) {
                                                                    if (data == "success") {
                                                                        window.location.href = "/users/myOrders"
                                                                    }
                                                                })
                                                            })

                                                } else {
                                                    if (res == "该用户存在未支付的品牌推广服务订单") {
                                                        swal({
                                                                    title: '该用户存在未支付的品牌推广服务订单',
                                                                    showCancelButton: true,
                                                                    confirmButtonColor: "#DD6B55",
                                                                    confirmButtonText: "去支付",
                                                                    closeOnConfirm: false
                                                                },
                                                                function (isConfirm) {
                                                                    $.post("/users/clearCookie",{},function () {
                                                                        $.post("/users/doLoginWithVC", {
                                                                            phoneNum: phoneNum,
                                                                            code: codeForConfirm,
                                                                            autologin: true
                                                                        }, function (data) {
                                                                            if (data == "success") {
                                                                                window.location.href = "/users/myOrders"
                                                                            }
                                                                        })
                                                                    })

                                                                })

                                                    } else if(res == "您已购买品牌推广服务"){
                                                        swal({
                                                                    title: '您已购买品牌推广服务',
                                                                    showCancelButton: true,
                                                                    confirmButtonColor: "#DD6B55",
                                                                    confirmButtonText: "去查看",
                                                                    closeOnConfirm: false
                                                                },
                                                                function (isConfirm) {
                                                                    $.post("/users/clearCookie",{},function () {
                                                                        $.post("/users/doLoginWithVC", {
                                                                            phoneNum: phoneNum,
                                                                            code: codeForConfirm,
                                                                            autologin: true
                                                                        }, function (data) {
                                                                            if (data == "success") {
                                                                                window.location.href = "/users/myOrders"
                                                                            }
                                                                        })
                                                                    })
                                                                })
                                                    }
                                                }
                                            })
                                        }else {
                                            $.post("/admin/manage/addNewUser", {
                                                phoneNum: phoneNum,
                                                companyName: companyName,
                                                contacts: userName,
                                                code: codeForConfirm
                                            }, function (res) {
                                                if (typeof res == "object" && res.result == "success") {
                                                    var company = res.company
                                                    $.post("/admin/manage/addNewPromotion", {
                                                        companyId: company,
                                                        phoneNum: phoneNum,
                                                        weMedia: ckWeMedia,
                                                        VR: ckVR,
                                                        code: codeForConfirm,
                                                        eBook: ckEbook,
                                                        period: selProPeriod2,
                                                        payType: payType
                                                    }, function (res) {
                                                        if (res == "success") {
                                                            swal({
                                                                        title: '已为您生成品牌推广订单',
                                                                        showCancelButton: true,
                                                                        confirmButtonColor: "#DD6B55",
                                                                        confirmButtonText: "去支付",
                                                                        closeOnConfirm: false
                                                                    },
                                                                    function (isConfirm) {
                                                                        $.post("/users/doLoginWithVC", {
                                                                            phoneNum: phoneNum,
                                                                            code: codeForConfirm,
                                                                            autologin: true
                                                                        }, function (data) {
                                                                            if (data == "success") {
                                                                                window.location.href = "/users/myOrders"
                                                                            }
                                                                        })
                                                                    })

                                                        } else {
                                                            if (res == "该用户存在未支付的品牌推广服务订单") {
                                                                swal({
                                                                            title: '该用户存在未支付的品牌推广服务订单',
                                                                            showCancelButton: true,
                                                                            confirmButtonColor: "#DD6B55",
                                                                            confirmButtonText: "去支付",
                                                                            closeOnConfirm: false
                                                                        },
                                                                        function (isConfirm) {
                                                                            $.post("/users/clearCookie",{},function () {
                                                                                $.post("/users/doLoginWithVC", {
                                                                                    phoneNum: phoneNum,
                                                                                    code: codeForConfirm,
                                                                                    autologin: true
                                                                                }, function (data) {
                                                                                    if (data == "success") {
                                                                                        window.location.href = "/users/myOrders"
                                                                                    }
                                                                                })
                                                                            })

                                                                        })

                                                            } else if(res == "您已购买品牌推广服务"){
                                                                swal({
                                                                            title: '您已购买品牌推广服务',
                                                                            showCancelButton: true,
                                                                            confirmButtonColor: "#DD6B55",
                                                                            confirmButtonText: "去查看",
                                                                            closeOnConfirm: false
                                                                        },
                                                                        function (isConfirm) {
                                                                            $.post("/users/clearCookie",{},function () {
                                                                                $.post("/users/doLoginWithVC", {
                                                                                    phoneNum: phoneNum,
                                                                                    code: codeForConfirm,
                                                                                    autologin: true
                                                                                }, function (data) {
                                                                                    if (data == "success") {
                                                                                        window.location.href = "/users/myOrders"
                                                                                    }
                                                                                })
                                                                            })
                                                                        })
                                                            }
                                                        }
                                                    })
                                                } else {
                                                    console.log(res)
                                                }
                                            })
                                        }
                                    }
                                });
                    })
                } else {
                    swal({
                        title: "请填写正确联系方式",
                        type: "error",
                        confirmButtonText: "确定"
                    });
                }

        })

    })
</script>