<style type="text/css">
    .warningInfoData{
        margin: 0 auto;
        width: 200px !important;
        height: 50px !important;
    }
    .warningInfoData:hover{
        background-color: #fff !important;

    }
    .paging{
        clear: both;
        width:100%;
        height: 80px;
        margin-bottom: 40px;
    }
    .paging>ul{
        position: relative;
        left: 250px;
    }
    body,a{
        color: #b0b0b0;
    }
    input,button{
        outline: none;
    }
    .privateNav>ul{
        float: right;
        height: 22px;
    }
    .privateNav>ul>li{
        height: 20px;
        float: left;
        width:85px;
        text-align: center;
        margin-right: 5px;
    }
    .privateNav>ul>li a{
        color: #b0b0b0;
    }
    .privateNav .addmore{
        display:inline-block;
        width:0;
        height:0;
        border-left:5px solid transparent;
        border-right:5px solid transparent;
        border-top:7px solid grey;
        margin: 0 7px 0 7px;
    }
    .city-picker-input {
        font-size: 18px;
        font-weight: 500;
        color: rgb(112,112,112);
        opacity: 1 !important;
        width: 77px;
        top:0;
        left:0px;
        position: absolute;
        cursor: pointer;
        background-color: #fff !important;
        text-align: center;
        z-index: -99;
    }
    .city-picker-span{
        width: 138px ;
        left: 0;
    }
    .city-select-content{
        margin-top: 32px;
    }
    .select-item{
        display: none;
    }
    .nav{
        width: 100%;
        font-size: 15px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .nav>.categoeriesFixList{
        display: block;
        width: 1200px;
    }
    .nav>.categoeriesFixList>div{
        border-top: 1px dotted #eeeeee;
    }
    .nav>.categoeriesFixList>div:last-child{
        border-bottom: 1px solid #eeeeee;
    }
    .nav>div li{
        cursor: pointer;
    }
    .allcategoery{
        width: 100%;
        border:none !important;
        font-size: 14px;
        height: 28px;
        line-height: 28px;
    }
    .allcategoery>div{
        float: left;
        width:150px;
        margin-right: 25px;
        height:28px;
        line-height:28px;

        position: relative;
    }
    .allcategoery>div>.navWord{
        position: absolute;
        top:0px;
        left: 3px;
        width: 136px;
        text-align: center;
        height:25px;
        line-height:25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 0;
    }
    .allcategoery>.navcate{
        width: 97px;
        font-size: 16px;
    }
    .allcategoery>.navArea,.allcategoery>.navArea>.navWord{
        width:100px;
        display: none;
    }
    .allcategoery>div>.deleteIcon{
        position: absolute;
        top:1px;
        right: 2px;
    }
    .allcategoery>ul>li{
        float: left;
        width:118px;
        height:40px;
        line-height:40px;
        margin-right:5px;
        text-align: left;
    }
    .allcategoery>ul>li>.deleteIcon{
        display: inline-block;
    }
    .demandChoice{
        float: left;
        width: 85%;
    }
    .demandChoice>div{
        float: left;
        width: 70px;
        height:40px;
        line-height:40px;
        margin-right: 30px;
    }
    .demandChoice>ul{
        display: inline-block;
        width: 90%;
        height: 40px;
        overflow: hidden;
    }
    .demandChoice>ul>li{
        float: left;
        height: 40px;
        line-height: 40px;
        width:110px;
        text-align: center;
        margin-right: 16px;
    }
    .demandChoice>ul>li:first-child,.budget>ul>li:first-child,.yunFeiPay>ul>li:first-child,.fixKinds>ul>li:first-child{
        text-align: left!important;
        width: 90px !important;
    }
    .demandChoice>ul>li>a{
        display: inline-block;
        height: 40px;
        line-height:40px;
    }
    .chooseMore{
        float: right;
        width: 53px;
        cursor: pointer;
    }
    .chooseArea,.budget{
        clear: both;
    }
    .chooseArea>.clickchoose{
        left: 100px !important;
        top:0px !important;
    }
    .chooseArea>div{
        display: inline-block;
        margin-right:30px;
        width: 70px;
        height:40px;
        line-height:40px;
    }
    .budget{
        margin-bottom: 25px;
    }
    .budget>ul,.budget>div{
        display: inline-block;
        height: 40px;
        line-height:40px;
        margin-right: 1%;
    }
    .budget>div{
        width: 70px;
        float: left;
        height:40px;
        margin-right: 30px;
    }
    .budget>ul{
        width:52%;
    }
    .budget>ul>li{
        float: left;
        height: 40px;
        line-height:40px;
        width: 110px;
        text-align: center;
        margin-right:16px;
    }
    .budget>.user_define{
        float: right;
        width: 36%;
        position: relative;
    }
    .user_define>div,.user_define>span{
        float: left;
    }
    .user_define>div{
        width: 70px;
        height: 20px;
    }
    .user_define>div>input{
        width: 70px;
        height: 22px;
        border: 1px solid gainsboro;
        font-size: 12px;
        text-align: center;
    }
    .user_define>span{
        margin:11px 10px 0 10px;
        height: 20px;
        line-height: 20px;
    }
    .budget .budgetSure{
        position: absolute;
        top: -2px;
        right:-8%;
        width: 45px;
        height: 24px;
        border-radius: 2px;
        line-height: 22px;
        border: 1px solid #da2f2f;
        background-color:#da2f2f ;
        color: #fff;
        text-align: center;
        cursor: pointer;
    }
    .contentLeft{
        width: 74%;
        float: left;
        font-size: 15px;
    }
    .contentRight{
        width:23%;
        float: right;
    }
    .contentLeft>div{
        position: relative;
        width: 100%;
        padding-left: 20px;
        height: 80px;
        margin-top: 15px;
    }
    .contentLeft>div:hover{
        background-color:#f0f0f0 ;
    }

    .contentLeft>.contentHeader{
        height: 30px;
        background-color:#f0f0f0 ;
        /*color: #767575;*/
    }
    .contentLeft>.contentHeader span{
        margin-top: 0;
    }
    .contentLeft span{
        position: absolute;
        height: 30px;
        line-height: 30px;
        margin-top: 20px;
    }
    .contentLeft .industries{
        left: 12%;
    }
    .contentLeft .area{
        left: 21%;
    }
    .contentLeft .budget{
        left: 28%;
    }
    .contentLeft .demand_summary{
        left: 37%;
    }
    .contentLeft .demand_summary a{
        margin-left: 6px;
    }
    .contentLeft .contacter{
        left: 68%;
    }
    .contentLeft .contact_way{
        left: 78%;
    }
    .contentLeft .skin{
        left: 91%;
        width: 50px;
        text-align: center;
    }
    .sortingFixList{
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color:#f0f0f0 ;
    }
    .sortingFixList>div,.sortingFixList>ul{
        float: left;
        color: #767575;
        cursor: pointer;
        font-size: 15px;
    }
    .sortingFixList>div{
        margin-left: 20px;
    }
    .sortingFixList>ul{
        margin-left: 35px;
    }
    .sortingFixList>ul>li{
        float: left;
        width: 80px;
        margin-right: 15px;

    }
    .sortingFixList .hotLine{
        float: right;
        margin-right: 7px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        color: #da2f2f;
        background-color:#f0f0f0 ;
    }
    .promotbar{
        width: 100%;
        height: 272px;
        background-color: #f0f0f0;
        margin-top: 15px;
    }
    .promotbar>p{
        font-size: 14px;
        margin-top: 2px;
    }
    .promotbar>.promotePrice{
        font-size: 14px;
        color: #da2f2f;
    }
    .paging{
        clear: both;
        width:100%;
        height: 80px;
        margin-bottom: 40px;
    }
    .paging>p{
        float: left;
        margin: 2% 5% 0 20px;
        height: 30px;
    }
    .paging>p>span{
        margin-right: 10px;
        font-size: 15px;
    }
    .paging>form{
        display: inline-block;
    }
    .paging li{
        float: left;
        display: inline-block;
        margin-right: 7px;
    }
    .pagination>li:first-child>a,.pagination>li:last-child>a{
        border: none;
        font-size: 15px;
    }
    .bandPromote{
        width: 100%;
    }
    .bandPromoteTitle{
        font-size: 18px;
        color: #da2f2f;
        background-color:#f0f0f0 ;
        height: 50px;
        line-height: 50px;
        margin-bottom:50px;
        padding-left: 20px;
        font-weight:500;
    }
    .specificDemand{
        width: 62%;
        position: absolute;
        left: 30%;
        top: 78px;
        background-color: #f7f5f5;
        z-index: 999;
        border: 2px solid #fd4848;
        padding-right: 12px;
        padding-left: 10px;
    }
    .specificDemand>h2{
        margin: 20px 0 20px 0;
        color: #555555;
    }
    .specificDemand>ul{
        width: 100%;
        height: 66px;
    }
    .specificDemand>ul>li{
        float: left;
        width: 33.33%;
        height: 33px;
        line-height: 33px;
    }
    .specificDemand>ul>li>span{
        margin: 0;
        height: 33px;
        line-height: 33px;
    }
    .specificDemand>p{
        display: block;
        width: 100%;
        margin:30px 0 20px 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
    }
    .header .current_position span.city-picker-span{
        width: 85px !important;
        height: 47px !important;
        opacity: 0;
        filter:alpha(opacity=0) !important;
    }
    .header .city-select-tab{
        display: none;
    }
    .header .city-picker-input{
        font-family: "微软雅黑" !important;
    }
    .form-control{
        box-shadow:none; ;
    }
    .chooseArea .city-picker-span{
        width: 230px !important;
        border-bottom: none !important;
        background: none !important;
        height: 40px !important;
        line-height: 40px !important;
    }
    .chooseArea .city-picker-span .arrow{
        display: none ;
    }
    .chooseArea span.select-item{
        color:#B0B0B0;
    }
    .chooseArea .city-picker-span{
        width: 256px !important;
    }
    .chooseArea .city-picker-input{
        width: 256px !important;
        border: none !important;
        text-align: left !important;
        color:#B0B0B0 !important;
        font-size: 15px;
    }
    .chooseArea .city-select-content{
        margin-top: 0px !important;
    }
    .chooseArea .title{
        display: none !important;
    }
    .chooseArea .title>span.select-item{
        color:#B0B0B0 !important;
    }
    /*新增的我要安装的页面的内容开始*/
    .getFixContent{
        width: 1200px;
        margin: 0 auto;
    }
    .fixWarning{
      /*  width: 15%;*/
        height:40px;
        margin: 10px 0 30px;
        /*background: #da2f2f;*/
        border-radius: 10px 10px  0 0 ;
        line-height: 40px;
        text-align: center;
        /*color:#fff;*/
        font-size: 18px;
        color:#da2f2f;
        font-weight: bold;
    }
    .best_brandRecommend{
        display: none;
    }
    .getFixTitle{
        width: 90%;
        height: 53px;
        margin: 0 auto;
        color:#777;
        background: url(../themes/lanmai/images/re_main.png) 0 -12px no-repeat;
    }
    .getFixTitleInput>input{
        width: 400px;
        height: 50px;
        text-align: left;
        line-height: 50px;
        color:#777;
        font-size: 16px;
        padding-left: 5px;
        border: 1px solid #7D7D7D;
    }
    .getFixTitleName{
        font-size: 16px;
        margin-right: 50px;
        margin-left: 20px;
    }
    .contactName{
        width: 90%;
        height: 53px;
        margin: 0 auto;
        color:#777;
        margin-top: 30px;
        background:url(../themes/lanmai/images/re_main.png) 0 -12px no-repeat;

    }
    .contactNameInput>input{
        width: 400px;
        height: 50px;
        text-align: left;
        line-height: 50px;
        color:#777;
        font-size: 16px;
        padding-left: 5px;
        border: 1px solid #7D7D7D;
    }
    .contactNameHeader{
        font-size: 16px;
        margin-right: 34px;
        margin-left: 20px;
    }
    .getFixContentDescription{
        width: 90%;
        height: 250px;
        margin:  40px auto;
        color:#777;
        font-size: 16px;
        position: relative;
        background:url(../themes/lanmai/images/re_main.png) 0 -20px no-repeat;
    }
    .getFixContentDescripe{
        position: absolute;
        top:5px;
        left:20px;
    }
    #fixDescription{
        width: 403px;
        height: 222px;
        position: absolute;
        left: 106px;
        top:5px;
        resize: none;
        outline: none;
        border:1px solid #7D7D7D;
        padding: 5px;
    }
    .setTips{
        position: absolute;
        left: 103px;
        top:230px;
    }
    .fixAreaChoose{
        width: 90%;
        height: 40px;
        margin: 0 auto;
        color: #777;
        font-size: 16px;
        background:url(../themes/lanmai/images/re_main.png) 0 -27px no-repeat;
    }
    .fixAreaChooseTitle{
        float: left;
        color: #777;
        font-size: 16px;
        margin-right: 30px;
        margin-left: 20px;
    }
    .myAreaPicker{
        position: relative;
        float: left;
    }
    .myAreaPicker .select-item{
        display:inline-block !important;
        color:#777 !important;
    }
    .myAreaPicker .city-picker-span{
        width: 400px !important;
        line-height: 12px !important;
        border-bottom: 1px solid #7D7D7D;
    }
    .myAreaPicker .city-picker-span>.placeholder{
        line-height: 23px !important;
    }
    .myAreaPicker>input{
        display: none;
    }
    .myAreaPicker .city-select-content{
        margin-top: 0;
    }
    .fixContactByMe{
        width: 90%;
        height: 200px;
        margin: 0 auto;
        color:#777;
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 40px;
        position: relative;
        background:url(../themes/lanmai/images/re_main.png) 0 -27px no-repeat;
    }
    .fixContactByMe>ul{
        
    }
    .loadingNum{
        width: 150px;
    }
    .loadingNum>span>img{
        cursor: pointer;
    }
    .loadingNum>span>em{
        font-style: normal;
        margin-left: 10px;;
    }
    .loadingNum001{
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    .loadingNum002{
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    .fixContactByMeTitle{
        float: left;
        margin-right: 20px;
        margin-left: 20px;
    }
    .fixContactByMe>ul{
        float: left;
    }
    .fixContactByMe>ul>form>li{
        float: left;
    }
    .onInputPhoneNum{
        display: none;
        margin: 10px 35px;
    }
    .onInputPhoneNum>input{
        height: 40px;
        padding-left: 5px;
        border: 1px solid #C1C1C1;
    }
    .onInputCodeNum{
        display: none;
        margin: 10px 35px;
    }
    .onInputCodeNum input{
        height: 40px;
        padding-left: 5px;
        border:1px solid #C1C1C1;
    }
    .fixClickSendNum{
        margin-left: 10px;
        height: 40px;
        width: 105px;
        line-height: 40px;
        text-align: center;
        border: none;
        background: #8E8E8E;
        color:#fff;
    }
    .fixConfirmOnLine{
        margin: 20px 0;
    }
    .fixConfirmOnLine a{
        width: 200px;
        height: 50px;
        display: block;
        margin: 0 auto;
        background: #da2f2f;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
    }
    .onInputNum>i{
        padding-left: 15px;;
    }
    .onInputPhoneNumTips{
        font-style: normal;
        padding-left: .5em;
    }
    /*新增的我要安装的页面的内容结束*/

</style>
<div class="getFixContent">
    <div class="fixWarning">
        修改安装
    </div>
    <div class="getFixTitle">
        <span class="getFixTitleName">标题</span>
        <input class="getThisNum" type="hidden" value="<%=myInstallList01[0]._id%>">
        <span class="getFixTitleInput"><input type="text" value="<%= myInstallList01[0].title %>" placeholder="请输入发布的标题"></span>
    </div>
    <div class="getFixContentDescription">
        <span class="getFixContentDescripe">安装描述</span>
        <span><textarea name="fixDescription" id="fixDescription" cols="48" rows="10"><%= myInstallList01[0].details %></textarea></span>
        <span class="setTips">（详细描述安装流程工艺、安装种类  将助您提高接单率）</span>
    </div>
    <div class="fixAreaChoose">
        <span class="fixAreaChooseTitle">服务地区</span>
        <span class="myAreaPicker"><input readonly type="text" data-toggle="city-picker" value="<%= myInstallList01[0].serviceRegion.province %>/<%= myInstallList01[0].serviceRegion.city %>/<%= myInstallList01[0].serviceRegion.district %>" name="region" id="region" ></span>
    </div>
    <div class="contactName">
        <span class="contactNameHeader">联系人</span>
        <span class="contactNameInput"><input type="text" value="<%= myInstallList01[0].name %>" placeholder="请输入联系人"></span>
    </div>
    <div class="fixContactByMe">
        <span class="fixContactByMeTitle">联系方式</span>
        <ul>
            <form>
                <li class="loadingNum">
                    <span><img src="/themes/lanmai/images/check_on.png" alt=""><input type="radio" class="loadingNum001" checked="checked"><em><%= myInstallList01[0].phoneNum %></em></span>
                </li>
                <li class="onInputNum">
                    <span><img src="/themes/lanmai/images/check_off.png" alt=""><input type="radio" class="loadingNum002"></span><i>使用其他联系方式</i>
                    <span class="onInputPhoneNum"><input type="text" disabled="disabled" placeholder="请输入手机号"><i class="onInputPhoneNumTips"></i></span>
                    <span class="onInputCodeNum"><input type="text" disabled="disabled" placeholder="请输入验证码"><input class="fixClickSendNum" disabled="disabled" type="button" value="获取验证码"></span><i class="onInputCodeNumTips"></i>
                </li>
            </form>
        </ul>
    </div>
    <div class="fixConfirmOnLine">
        <a href="javascript:;">确认提交</a>
    </div>
</div>
<script>
    $(function(){
        $('.loadingNum>span>img').on("click",function(){
            $(this).attr("src","/themes/lanmai/images/check_on.png")
            $(".loadingNum001").attr("checked","checked")
            $(".loadingNum002").removeAttr("checked")
            $(".onInputPhoneNum,.onInputCodeNum").css({display:"none"})
            $(".onInputNum>span>img").attr("src","/themes/lanmai/images/check_off.png");
            $(".onInputPhoneNum>input").attr("disabled","disabled").css({border:"1px solid #C1C1C1"});
            $(".onInputCodeNum>input").attr("disabled","disabled").css({border:"1px solid #c1c1c1"});
        })
        $('.onInputNum>span>img').on("click",function(){
            $(this).attr("src","/themes/lanmai/images/check_on.png")
            $(".loadingNum002").attr("checked","checked")
            $(".loadingNum001").removeAttr("checked")
            $(".onInputPhoneNum,.onInputCodeNum").css({display:"block"})
            $(".loadingNum>span>img").attr("src","/themes/lanmai/images/check_off.png");
            $(".onInputPhoneNum>input").removeAttr("disabled").css({border:"1px solid #A9A9A9"});
            var rightNum = /^(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9])\d{8}$/;
            var nowNum = $(".onInputPhoneNum>input").val();
            var MatchOk = nowNum.match(rightNum);
            if(MatchOk){
                $(".onInputPhoneNum>input").attr("disabled","disabled").css({border:"1px solid #c1c1c1"});
                $(".onInputCodeNum>input").removeAttr("disabled").css({border:"1px solid #777"});
                $(".fixClickSendNum").removeAttr("disabled").css({background:"#777"})
            }
        })
        //发布时输入新的手机号
        $(".onInputPhoneNum>input").keyup(function(){
            var rightNum = /^(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9])\d{8}$/;
            var nowNum = $(".onInputPhoneNum>input").val();
            var MatchOk = nowNum.match(rightNum);
            if(MatchOk){
                $(".fixClickSendNum").removeAttr("disabled").css({background:"#777"})
            }else{
                $(".fixClickSendNum").attr("disabled","disabled")
            }
        })
        var rightNum = /^(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9])\d{8}$/;
        $(".fixClickSendNum").click(function(){
            var nowNum = $(".onInputPhoneNum>input").val();
            var Matchok = nowNum.match(rightNum);

            if(!Matchok){
                $(".onInputPhoneNumTips").html("手机号格式不正确！").css({color:"#DA2F2F"})
                setTimeout(function () {
                    $(".onInputPhoneNumTips").html("");
                },3000)
                return
            }else{
                $(".onInputPhoneNumTips").html("手机号格式正确！").css({color:"#9EEA6A"});
                $(".onInputPhoneNum>input").attr("disabled","disabled").css({border:"1px solid #A9A9A9"});
                setTimeout(function () {
                    $(".onInputPhoneNumTips").html("");
                },3000);
            }
            var data={
                phoneNum:nowNum
            }
            $.ajax({
                type:"POST",
                url:"/users/sendVerifyCode",
                data:JSON.stringify(data),
                contentType: "application/json",
                success:function(res){
                    console.log(res)
                    if(res=="success"){
                        $(".onInputCodeNum>input").removeAttr("disabled").css({border:"1px solid #777"});
                        $(".onInputCodeNumTips").html("验证码已发送！").css({color:"#9EEA6A","margin-left":"35px"})
                    }else{
                        $(".onInputCodeNumTips").html("验证码发送失败！").css({color:"#9EEA6A","margin-left":"35px"})
                    }
                }
            })
        })

        $(".fixConfirmOnLine a").click(function(){
            var fixTitleName = $(".getFixTitleInput>input").val();
            var fixDescription = $("#fixDescription").val();
            var fixServiceArea = $(".myAreaPicker>input").val();
            if(fixTitleName==""){
                swal("标题不能为空！","请在标题输入框填写标题","error");
                return
            }else if(fixTitleName.length>50){
                swal("标题不能超过50个汉字或字母！","请修改您的标题","error");
                return
            }
            if(fixDescription==""){
                swal("安装描述不能为空！","详细的安装描述有助于提高接单率","error")
                return
            }else if(fixDescription.length<10||fixDescription.length>200){
                swal("请输入10到200个字的详情信息","您的标题长度有误，请修改","error")
            }
            if(fixServiceArea==""){
                swal("服务区域不能为空！","请选择您的安装服务区域","error")
                return
            }else{
                var OhomeLocation = fixServiceArea.split("/");
                if(OhomeLocation.length==1){
                    var region = {province: OhomeLocation[0],city:"", district:""}
                }else if(OhomeLocation.length==2){
                    var region={province:OhomeLocation[0],city:OhomeLocation[1],district:""}
                }else if(OhomeLocation.length==3){
                    var region={province:OhomeLocation[0],city:OhomeLocation[1],district:OhomeLocation[2]}
                }
            }
            var contactName = $(".contactNameInput>input").val();
            if(contactName==""){
                swal("联系人不能为空","","error")
            }
            var uid=$('.getThisNum').val();
            var getOrInput = $(".loadingNum001").attr("checked");
            if(getOrInput){
                var contactNum = $(".loadingNum em").html();
                var data = {
                    title:fixTitleName,
                    serviceRegion:region,
                    phoneNum:contactNum,
                    name:contactName,
                    details:fixDescription
                };
                $.ajax({
                    type:"POST",
                    url:"/resource/updateOrInsertInstall?uid="+uid,
                    data:JSON.stringify(data),
                    contentType:"application/json",
                    success:function(res){
                        if(res.result=="success"){
                            swal({
                                        title: "信息修改成功！",
                                        text: "恭喜您!您的安装信息已修改成功",
                                        type: "warning",
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "确定",
                                        closeOnConfirm: false
                                    },
                                    function(isConfirm){
                                        if (isConfirm) {
                                            window.location.href="/users/myFixCenter";
                                        } else {
                                            swal("已取消", "", "error");
                                        }
                                    });
                        }
                    }
                })
            }else{
                var codeNum=$(".onInputCodeNum>input").val();
                if(codeNum == ""){
                    swal("验证码不能为空！","请输入您的验证码","error")
                    return
                }
                var contactNum = $(".onInputPhoneNum>input").val();
                var Matchok = contactNum.match(rightNum);
                if(contactNum==""){
                    swal("联系电话不能为空！","请输入您的联系电话","error");
                    return
                }else if(!Matchok){
                    swal("联系电话格式不正确！","请修改您的联系电话","error");
                    return
                }else{
                    var contactNum = $(".onInputPhoneNum>input").val();
                }
                var data = {
                    title:fixTitleName,
                    serviceRegion:region,
                    phoneNum:contactNum,
                    name:contactName,
                    details:fixDescription,
                    code:codeNum
                }
                $.ajax({
                    type:"POST",
                    url:"/resource/webUpdateOrInsertInstall?uid="+uid,
                    data:JSON.stringify(data),
                    contentType:"application/json",
                    success:function(res){
                        if(res.result=="success"){
                            swal({
                                        title: "信息修改成功！",
                                        text: "恭喜您!您的安装信息已修改成功！",
                                        type: "warning",
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "确定",
                                        closeOnConfirm: false
                                    },
                                    function(isConfirm){
                                        if (isConfirm) {
                                            window.location.href="/users/myFixCenter";
                                        } else {
                                            swal("已取消", "", "error");
                                        }
                                    });
                        }
                    }
                })
            }



        })
        setTimeout(function () {
            $(".searchText").val("")
        },0)

    })
</script>