<style>
    a{
        outline:none;
    }
    .city-picker-span {
        border: none;
        background: none;
        position: absolute;
        left: 50px;
        top: -3px;
        width: 79px !important;
        height: 52px !important;
    }
    .arrow{
        display: none;
    }
    .city-select-tab{
        display: none;
    }
    .city-picker-dropdown{
        left: 50px !important;
        top:50px !important;
    }
    .city-select>dl>dd{
        text-align: left;
    }
    .city-picker-span>.title{
        position: absolute;
        top:8px;
        left: 19px;
    }
    .city-picker-span>.title>span{
        color: #908E8E;
    }
    .city-picker-span>.title>span:hover{
        background: none !important;
    }
</style>
                        <!--需求广告详情页面的内容部分开始-->
    <div class="dOut_container">
        <div class="dOut_content">
            <div class="dOut_title">
                <span>所有分类</span> >
                <span>广告需求</span> >
                <span>北京</span>
            </div>
            <input type="hidden" id="resNum" value="<%=demands.resNum%>"/>
            <input type="hidden" id="title" value="<%=demands.title%>"/>
            <div class="dOut_content_top clearfix">
                <div class="dDemandForDetail" style="border-right: 1px solid #C4C2C2;">
                    <div class="dDemandLeft">
                        <ul>
                            <li class="dDemandDetailTitle "><p><%=demands.title%></p></li>
                            <li class="dDemandList"> <span>所属行业:</span> <i><%=demands.classify%></i> </li>
                            <li class="dDemandList"> <span>价格:</span> <i><%=demands.price%>元</i> </li>
                            <li class="dDemandList"> <span>地区:</span> <i><%=demands.region.province%> <%=demands.region.city%></i> </li>
                        </ul>
                    </div>
                    <div class="dOut_content_share">
                        <ul>
                            <%if(demands.isCollect){%>
                            <li class="dOut_content_share01"><a href="javascript:;" id="collectRes"><span></span><em id="collectText">取消收藏</em></a></li>
                            <%}else{%>
                            <li class="dOut_content_share01"><a href="javascript:;" id="collectRes"><span></span><em id="collectText">收藏</em></a></li>
                            <%}%>
                            <li class="dOut_content_share02" style="float: right;margin-right: 10%"><a href="javascript:;"><span></span><em>分享</em></a></li>
                        </ul>
                    </div>
                </div>
                <div class="dDemandForDetail">
                    <div class="dDemandContact">
                        <ul>
                            <li class="getNewTime" style="margin-top: 45px">更新时间<span style="padding-left: 20px;padding-right: 20px;"><%=demands.refreshedAt.split('T')[0]%></span>浏览<em style="padding-left: 10px;font-style: normal;"><%=demands.pageview%></em></li>
                            <li class="dDemandPhoto"><img src="<%=company.companyLogo%>"/></li>
                            <li class="dDemandContactLine">联系人 : <%=demands.contacts%></li>
                            <li class="dOut_params_08 clearfix " style="margin-top: 60px">
                                <a class="tel" style="margin-left: 23%" href="javascript:;"><%=demands.phoneNum%></a>
                                <a class="talk" href="javascript:;">点击交谈</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dOut_content_information clearfix">
                <div class="dOut_info01">
                    <h2>热门资源推荐</h2>
                    <ul>
                        <%for(var i=0;i<promotionForAll.length;i++){%>
                        <li class="dOut_hotResource">
                            <%if(promotionForAll[i].resType=="Manufacture"){%>
                            <a href="/resource/dMake?id=<%=promotionForAll[i].resNum%>">
                                <img class="imgForShow" src="<%=promotionForAll[i].images[0]%>/248.188"/>
                            </a>
                            <%}else if(promotionForAll[i].resType=="Manufacture"){%>
                            <a href="/resource/dmaterial?id=<%=promotionForAll[i].resNum%>">
                                <img class="imgForShow" src="<%=promotionForAll[i].images[0]%>/248.188"/>
                            </a>
                            <%}else {%>
                            <a href="/resource/dMachine?id=<%=promotionForAll[i].resNum%>">
                                <img class="imgForShow" src="<%=promotionForAll[i].images[0]%>/248.188"/>
                            </a>
                            <%}%>
                            <%if(promotionForAll[i].discountPrice){%>
                            <p class="dOut_hotPrice">¥<span><%=promotionForAll[i].discountPrice%>元</span>/月</p>
                            <%}else{%>
                            <p class="dOut_hotPrice">面议</p>
                            <%}%>
                            <p class="dOut_hotAddress"><%=promotionForAll[i].region.province%> <%=promotionForAll[i].region.city%></p>
                            <p class="dOut_hotDetailAddress" title="<%=promotionForAll[i].title%>"><%=promotionForAll[i].title%></p>
                        </li>
                        <%}%>
                    </ul>
                </div>
                <div class="dOut_info02">
                    <div class="dOut_info02_title">
                        <ul  class="clearfix">
                            <li>广告需求详情</li>
                            <!--<li>媒体地图</li>-->
                        </ul>
                    </div>
                    <div class="dOut_tab">
                        <div class="dOut_tabParams">
                            <ul class="clearfix">
                                <li>一级类目: <span><%=demands.categoryL1.name%></span> </li>
                                <li>二级类目:<span><%=demands.categoryL2.name%></span></li>
                                <li>行业:<span><%=demands.classify%></span></li>
                                <li>所在位置:<span><%=demands.region.province%> <%=demands.region.city%></span></li>
                            </ul>
                        </div>
                        <div class="dOut_tabContent">
                            <input type="hidden" value="<%=demands.details%>" id="detailsData">
                            <div id="details"></div>
                        </div>
                    </div>
                    <div class="dOut_tab" style="display: none">
                        百度地图
                    </div>
                    <div class="dOut_goodNess">
                        <p class="goodNess">平台优势 </p>
                        <div class="one_newResource clearfix">
                            <span class="one_newResourceIcon" style="background: url(/themes/<%=staticforder%>/images/detail_icon.png) -20px -20px no-repeat;"></span>
                            <p class="one_newResourceCon">
                                <span>分类细致 定位精准</span><br>
                                <i>制作宝网站将广告制作资源分为广告材料，广告设备，广告制作，广告安装四个大类别，用户可以轻松搜索获取想要的信息；除此，网站针对有制作需求的用户和制作实力的服务商提供专业招投标平台“接单赚钱”，实现需求与技术交换的互惠双赢。
                                </i>
                            </p>
                        </div>
                        <div class="one_newResource clearfix">
                            <span class="one_newResourceIcon" style="background: url(/themes/<%=staticforder%>/images/detail_icon.png) -20px -20px no-repeat;"></span>
                            <p class="one_newResourceCon">
                                <span>渠道多样 综合发力</span><br>
                                <i>除了在网站展示资源，也能在网站解决需求，制作宝更拓展了线下线上多种渠道。除了我们的门户网站支持以外，还有微信服务号订阅号，配合推送宣传，再加上线下人工渠道和行业热门展会的辅助，发展业务SO EASY!
                                </i>
                            </p>
                        </div>
                        <div class="one_newResource clearfix">
                            <span class="one_newResourceIcon" style="background: url(/themes/<%=staticforder%>/images/detail_icon.png) -20px -114px no-repeat;"></span>
                            <p class="one_newResourceCon">
                                <span>信息真实 报价可靠</span><br>
                                <i>制作宝分析整理了海量的行业数据，认真审核每一条发布的信息资源，设置招投标机制来筛选最优报价，力求为用户提供真实可靠的资源和讯息，旨在为每一位用户负责，为每一位广告人负责。</i>
                            </p>
                        </div>
                        <div class="one_newResource clearfix">
                            <span class="one_newResourceIcon" style="background: url(/themes/<%=staticforder%>/images/detail_icon.png) -20px -211px no-repeat;"></span>
                            <p class="one_newResourceCon">
                                <span>服务定制 选择自由</span><br>
                                <i>用户根据自己的实际情况选择是否进行资源或品牌推广，自由选择用哪一种形式推广。我们为客户准备了多种解决方案，用户自由搭配。制作宝提供
                                </i>
                            </p>
                        </div>

                    </div>
                    <div class="rightTell">
                        <p class="rightTellTips">权利声明</p>
                        <p class="rightTellCon">制作宝（91zhizuo.com）上所有媒体信息、资源信息、客户评价、购买咨询、网友讨论等内容，是广告易重要的经营资源，未经许可禁止非法转载使用。<br>
                            注：本站所有广告资源信息均来自于合作方，其真实性、准确性和合法性由信息发布者（合作方）负责，本站不提供任何保证，且不承担任何法律责任。</p> </div>
                </div>
            </div>
            <!--底部的优秀品牌推荐-->
            <div class="best_brandRecommend_get">
                优秀品牌推荐
            </div>
            <div class="best_brandRecommend flexslider">
                <ul class="bestBrandRecommend01 slides">
                    <li>
                        <ul>
                            <%for(var i=0;i<4;i++){if(companyList[i]){%>
                            <li>
                                <a href="/users/shopSpecific2?id=<%=companyList[i].user%>">
                                    <img src="<%=companyList[i].priorShowImgs[0]%>"/>
                                </a>
                            </li>
                            <%}}%>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <%for(var i=4;i<8;i++){if(companyList[i]){%>
                            <li>
                                <a href="/users/shopSpecific2?id=<%=companyList[i].user%>">
                                    <img src="<%=companyList[i].priorShowImgs[0]%>"/>
                                </a>
                            </li>
                            <%}}%>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <%for(var i=8;i<12;i++){if(companyList[i]){%>
                            <li>
                                <a href="/users/shopSpecific2?id=<%=companyList[i].user%>">
                                    <img src="<%=companyList[i].priorShowImgs[0]%>"/>
                                </a>
                            </li>
                            <%}}%>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <%for(var i=12;i<16;i++){if(companyList[i]){%>
                            <li>
                                <a href="/users/shopSpecific2?id=<%=companyList[i].user%>">
                                    <img src="<%=companyList[i].priorShowImgs[0]%>"/>
                                </a>
                            </li>
                            <%}}%>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<input type="hidden" id="qq" value="<%=company.qq%>"/>

<script>
    $(function () {
        $("#details").html($("#detailsData").val());

        $("#collectRes").on("click",function () {
            var resNum=$("#resNum").val();
            var title=$("#title").val();
            var url=window.location.pathname+"?id="+resNum;
            var data={
                resNum:resNum,
                title:title,
                url:url,
                type:"xq"
            }
            $.post("/collectRes",data,function (res) {
                if(res=="success1"){
                    swal({
                        title: "取消收藏成功",
                        type: "success",
                        confirmButtonText: "确定"
                    });
                    $("#collectText").text("收藏")
                }else if(res=="success2"){
                    swal({
                        title: "收藏成功",
                        type: "success",
                        confirmButtonText: "确定"
                    });
                    $("#collectText").text("取消收藏")
                }else if(res=="非法参数"){
                    swal({
                        title: "请登陆",
                        type: "error",
                        confirmButtonText: "确定"
                    });
                }else{
                    swal({
                        title: res,
                        type: "error",
                        confirmButtonText: "确定"
                    });
                }
            })

        })


    })
</script>
                        <!--户外广告详情页面的内容部分结束-->