<style type="text/css">
	.warningInfoData{
		margin: 0 auto;
		width: 200px !important;
		height: 50px !important;
	}
	.warningInfoData:hover{
		background-color: #fff !important;

	}
	.paging{
		clear: both;
		width:100%;
		height: 80px;
		margin-bottom: 40px;
	}
	.paging>ul{
		position: relative;
		left: 250px;
	}
	body,a{
		color: grey;
	}
	input,button{
		outline: none;
	}
	.privateNav>ul{
		float: right;
		height: 22px;
	}
	.privateNav>ul>li{
		height: 20px;
		float: left;
		width:85px;
		text-align: center;
		margin-right: 5px;
	}
	.privateNav>ul>li a{
		color: #b0b0b0;
	}
	.privateNav .addmore{
		display:inline-block;
		width:0;
		height:0;
		border-left:5px solid transparent;
		border-right:5px solid transparent;
		border-top:7px solid grey;
		margin: 0 7px 0 7px;
	}
	.city-picker-input {
		font-size: 18px;
		font-weight: 500;
		color: rgb(112,112,112);
		opacity: 1 !important;
		width: 77px;
		top:0;
		left:0px;
		position: absolute;
		cursor: pointer;
		background-color: #fff !important;
		text-align: center;
		z-index: -99;
	}
	.city-picker-span{
		width: 138px ;
		left: 0;
	}
	.city-select-content{
		margin-top: 32px;
	}
	.select-item{
		display: none;
	}
	.nav{
		width: 100%;
		font-size: 15px;
		margin-bottom: 20px;
		margin-top: 15px;
	}
	.nav>.categoeries{
		display: block;
		width: 1200px;
	}
	.nav>.categoeries>div{
		border-top: 1px dotted #eeeeee;
	}
	.nav>.categoeries>div:last-child{
		border-bottom: 1px solid #eeeeee;
	}
	.nav>div li{
		cursor: pointer;
	}
	.allcategoery{
		width: 100%;
		border:none !important;
		font-size: 14px;
		height: 28px;
		line-height: 28px;
	}
	.allcategoery>div{
		float: left;
		width:150px;
		margin-right: 25px;
		height:28px;
		line-height:28px;
        cursor: pointer;
		position: relative;
	}
	.allcategoery>div>.navWord{
		position: absolute;
		top:0px;
		left: 3px;
		width: 136px;
		text-align: center;
		height:25px;
		line-height:25px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		border: 0;
	}
	.allcategoery>.navcate{
		width: 97px;
		font-size: 16px;
	}
	.allcategoery>.navArea,.allcategoery>.navArea>.navWord{
		width:100px;
		display: none;
	}
	.allcategoery>div>.deleteIcon{
		position: absolute;
		top:1px;
		right: 2px;
	}
	.allcategoery>ul>li{
		float: left;
		width:118px;
		height:40px;
		line-height:40px;
		margin-right:5px;
		text-align: left;
	}
	.allcategoery>ul>li>.deleteIcon{
		display: inline-block;
	}
	.demandChoice{
		float: left;
		width: 85%;
	}
	.demandChoice>div{
		float: left;
		width: 70px;
		height:40px;
		line-height:40px;
		margin-right: 30px;
	}
	.demandChoice>ul{
		display: inline-block;
		width: 90%;
		height: 40px;
		overflow: hidden;
	}
	.demandChoice>ul>li{
		float: left;
		height: 40px;
		line-height: 40px;
		width:110px;
		text-align: center;
		margin-right: 16px;
	}
	.demandChoice>ul>li:first-child,.budget>ul>li:first-child,.yunFeiPay>ul>li:first-child,.fixKinds>ul>li:first-child{
		text-align: left!important;
		width: 90px !important;
	}
	.demandChoice>ul>li>a{
		display: inline-block;
		height: 40px;
		line-height:40px;
	}
	.chooseMore{
		float: right;
		width: 53px;
		cursor: pointer;
	}
	.chooseArea,.budget{
		clear: both;
	}
	.chooseArea>.clickchoose{
		left: 100px !important;
		top:0px !important;
	}
	.chooseArea>div{
		display: inline-block;
		margin-right:30px;
		width: 70px;
		height:40px;
		line-height:40px;
	}
	.budget{
		margin-bottom: 25px;
	}
	.budget>ul,.budget>div{
		display: inline-block;
		height: 40px;
		line-height:40px;
		margin-right: 1%;
	}
	.budget>div{
		width: 70px;
		float: left;
		height:40px;
		margin-right: 30px;
	}
	.budget>ul{
		width:52%;
	}
	.budget>ul>li{
		float: left;
		height: 40px;
		line-height:40px;
		width: 110px;
		text-align: center;
		margin-right:16px;
	}
	.budget>.user_define{
		float: right;
		width: 36%;
		position: relative;
	}
	.user_define>div,.user_define>span{
		float: left;
	}
	.user_define>div{
		width: 70px;
		height: 20px;
	}
	.user_define>div>input{
		width: 70px;
		height: 22px;
		border: 1px solid gainsboro;
		font-size: 12px;
		text-align: center;
	}
	.user_define>span{
		margin:11px 10px 0 10px;
		height: 20px;
		line-height: 20px;
	}
	.budget .budgetSure{
		position: absolute;
		top: -2px;
		right:-8%;
		width: 45px;
		height: 24px;
		border-radius: 2px;
		line-height: 22px;
		border: 1px solid #da2f2f;
		background-color:#da2f2f ;
		color: #fff;
		text-align: center;
		cursor: pointer;
	}
	.contentLeft{
		width: 74%;
		float: left;
		font-size: 15px;
	}
	.contentRight{
		width:23%;
		float: right;
	}
	.contentLeft>div{
		position: relative;
		width: 100%;
		padding-left: 20px;
		height: 80px;
		margin-top: 15px;
	}
	.contentLeft>div:hover{
		background-color:#f0f0f0 ;
	}

	.contentLeft>.contentHeader{
		height: 30px;
		background-color:#f0f0f0 ;
		/*color: #767575;*/
	}
	.contentLeft>.contentHeader span{
		margin-top: 0;
	}
	.contentLeft>div>span{
		position: absolute;
		height: 30px;
		line-height: 30px;
		margin-top: 20px;
	}
	.contentLeft .industries{
		left: 12%;
	}
	.contentLeft .area{
		left: 21%;
	}
	.contentLeft .budget{
		left: 28%;
	}
	.contentLeft .demand_summary{
		left: 37%;
	}
	.contentLeft .demand_summary a{
		width: 220px !important;
	}
	.contentLeft .contacter{
		left: 65%;
		width: 85px;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	.contentLeft .contact_way{
		left: 78%;
	}
	.contentLeft .skin{
		left: 91%;
		width: 50px;
		text-align: center;
	}
	.sorting{
		width: 100%;
		height: 40px;
		line-height: 40px;
		background-color:#f0f0f0 ;
	}
	.sorting>div,.sorting>ul{
		float: left;
		color: #767575;
		cursor: pointer;
		font-size: 15px;
	}
	.sorting>div{
		margin-left: 20px;
	}
	.sorting>ul{
		margin-left: 35px;
	}
	.sorting>ul>li{
		float: left;
		width: 80px;
		margin-right: 15px;

	}
	.sorting .hotLine{
		float: right;
		margin-right: 7px;
		height: 40px;
		line-height: 40px;
		font-size: 18px;
		color: #da2f2f;
		background-color:#f0f0f0 ;
	}
	.promotbar{
		width: 100%;
		height: 282px;
		background-color: #f0f0f0;
		margin-top: 15px;
	}
	.promotbar>p{
		font-size: 14px;
		margin-top: 2px;
		margin-left: 5px;
	}
	.promotbar>.promotePrice{
		font-size: 14px;
		color: #da2f2f;
	}
	.paging{
		clear: both;
		width:100%;
		height: 80px;
		margin-bottom: 40px;
	}
	.paging>p{
		float: left;
		margin: 2% 5% 0 20px;
		height: 30px;
	}
	.paging>p>span{
		margin-right: 10px;
		font-size: 15px;
	}
	.paging>form{
		display: inline-block;
	}
	.paging li{
		float: left;
		display: inline-block;
		margin-right: 7px;
	}
	.pagination>li:first-child>a,.pagination>li:last-child>a{
		border: none;
		font-size: 15px;
	}
	.bandPromote{
		width: 100%;
	}
	.bandPromoteTitle{
		font-size: 18px;
		color: #da2f2f;
		background-color:#f0f0f0 ;
		height: 50px;
		line-height: 50px;
		margin-bottom:50px;
		padding-left: 20px;
		font-weight:500;
	}
	.specificDemand{
		width: 62%;
		position: absolute;
		left: 30%;
		top: 78px;
		background-color: #f7f5f5;
		z-index: 999;
		border: 2px solid #fd4848;
		padding-right: 12px;
		padding-left: 10px;
	}
	.specificDemand>h2{
		margin: 20px 0 20px 0;
		color: #555555;
	}
	.specificDemand>ul{
		width: 100%;
		height: 66px;
	}
	.specificDemand>ul>li{
		float: left;
		width: 33.33%;
		height: 33px;
		line-height: 33px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.specificDemand>ul>li>span{
		margin: 0;
		height: 33px;
		line-height: 33px;
	}
	.specificDemand>p{
		display: block;
		width: 100%;
		margin:30px 0 20px 0;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		overflow: hidden;
	}
	.header .current_position span.city-picker-span{
		width: 85px !important;
		height: 47px !important;
		opacity: 0;
		filter:alpha(opacity=0) !important;
	}
	.header .city-select-tab{
		display: none;
	}
	.header .city-picker-input{
		font-family: "微软雅黑" !important;
	}
	.form-control{
		box-shadow:none; ;
	}
	.chooseArea .city-picker-span{
		width: 230px !important;
		border-bottom: none !important;
		background: none !important;
		height: 40px !important;
		line-height: 40px !important;
	}
	.chooseArea .city-picker-span .arrow{
		display: none ;
	}
	.chooseArea span.select-item{
		color:#B0B0B0;
	}
	.chooseArea .city-picker-span{
		width: 256px !important;
	}
	.chooseArea .city-picker-input{
		width: 256px !important;
		border: none !important;
		text-align: left !important;
		color:#B0B0B0 !important;
		font-size: 15px;
	}
	.chooseArea .city-select-content{
		margin-top: 0px !important;
	}
	.chooseArea .title{
		display: none !important;
	}
	.chooseArea .title>span.select-item{
		color:#B0B0B0 !important;
	}
</style>
<div ng-controller="secondDemandController">
			<div class="nav">
				<div class="allcategoery">
					<div class="navcate">所有类别&nbsp;></div>
					<div class="navArea"><input hidden class="navWord" ng-model="regionData" /><span class="deleteIcon"></span></div>
					<div class="navLeibie"><input class="navWord"  ng-model="typesData" /><span class="deleteIcon"></span></div>
					<div class="navHangye"><input class="navWord" ng-model="classifyData" /><span class="deleteIcon"></span></div>
					<div class="navPrice"><input class="navWord"  /><span class="deleteIcon"></span></div>
				</div>
				<div class="categoeries">
					<div class="chooseArea" style="position: relative">
						<div>选择地区</div>
						<div class="clickchoose" style="position:absolute; left: 106px;top: -1px;">
							<input readonly type="text" data-toggle="city-picker" value="北京市/北京市/东城区" name="region" id="region">
						</div>
					</div>
					<div id="">
						<div class="demandChoice">
							<div class="chooseProject">需求类别</div>
							<ul class="leibie">
								<%for(var i=0,long=currentCateList.length;i<long;i++){%>
								<li data-selected="false" id="<%=currentCateList[i]._id%>"><%=currentCateList[i].name%></li>
								<%}%>
							</ul>
						</div>
						<%if(currentCateList.length>8){%>
						<div data-flag="true" class="chooseMore">更多<div class="addIcon"></div></div>
						<%}%>
						%>
					</div>

					<div id="">
						<div class="demandChoice">
							<div class="chooseProject">所属行业</div>
							<ul class="hangye">
								<%for(var i=0;i<hangyeleibie.length;i++){%>
								<li data-selected="false" ><%=hangyeleibie[i]%></li>
								<%}%>
							</ul>
						</div>
						<div data-flag="true" class="chooseMore">更多<div class="addIcon"></div></div>
					</div>
					<div class="budget">
						<div class="">价格区间</div>
						<ul class="price">
							<li data-selected="false" >低于1000元</li>
							<li data-selected="false" >1000--5000元</li>
							<li data-selected="false" >5000--1万元</li>
							<li data-selected="false" >1万--5万元</li>
							<li data-selected="false" >5万元以上</li>
						</ul>
						<div class="user_define"><div><input class="budgetmin" type="number"  /></div><span>-</span><div><input class="budgetmax" type="number" /></div><span>元</span><span class="budgetSure">确认</span></div>

					</div>
				</div>

			</div>
		    <div class="contenWrap">
		    	<div class="sorting">
				    <div>综合排序</div>
				    <ul>
						<li class="sortingBySkin"  data-flag="true" ng-click="changeOrder('pageview')">浏览量<span class="addIcon"></span></li>
						<li class="sortingByTime"  data-flag="true" ng-click="changeOrder('refreshedAt')">更新时间<span class="addIcon"></span></li>
						<li class="sortingByPrice"  data-flag="true" ng-click="changeOrder('price')">价格<span class="addIcon"></span></li>
				    </ul>
				    <div class="hotLine">推广热线 : 027-87551680</div>
		    	</div>
		    	<div class="contentLeft" >
		    	    <div class="contentHeader">
		    	    	<span class="demand_categories">需求类别</span><span class="industries">行业</span>
		    	    	<span class="area">地区</span><span class="budget">价格</span>
		    	    	<span class="demand_summary">需求简述</span><a></a><span class="contacter">联系人</span>
		    	    	<span class="contact_way">联系方式</span>
						<!--<span class="skin">浏览量</span>-->
		    	    </div>
					<!--ng-href="dDemand?id={{item.resNum}}"-->
		    	    <div ng-repeat="(key,item) in dataList" ng-mouseenter="showModal(key,item)" ng-mouseleave="hiddenModal()">
		    	    	<span class="demand_categories"><a>{{item.categoryL1.name}}</a></span><span class="industries"><a>{{item.classify}}</a></span>
		    	    	<span class="area"><a>{{item.region.province}}</a></span><span class="budget">{{item.price}}元</span>
		    	    	<span class="demand_summary"><a class="titleOverflow" style="width: 250px;display: inline-block">{{item.title}}</a></span>
		    	    	<div class="specificDemand" ng-show="showid==key">
	    	    		    <div></div>
							<h2><a >{{item.title}}</a></h2>
							<ul>
								<li>类别：<span>{{item.categoryL1.name}}</span></li><li>行业：<span>{{item.classify}}</span></li><li>联系人：<span title="{{item.contacts}}">{{item.contacts}}</span></li>
								<li>区域：<span>{{item.region.province}} {{item.region.city}}</span></li><li>价格：{{item.price|toZero}}元<span></span></li><li>联系方式：{{item.phoneNum}}</li>
							</ul>
							<p  class="details" ng-bind="item.details|contentFilter">
							</p>
					    </div>
						<span class="contacter">{{item.contacts}}</span>
		    	    	<span class="contact_way">{{item.phoneNum}}</span>
						<!--<span class="skin">{{item.pageview}}</span>-->
		    	    </div>
					<div class="warningInfoData" ng-if="warningInfoData!==''">{{warningInfoData}}</div>

				</div>
				<div class="contentRight">
					<%for(var i=0;i<promotionForAll.length;i++){%>
					<div class="promotbar">
						<a href="/resource/dMake?id=<%=promotionForAll[i].resNum%>"><div class="promoteImg"><img src="<%=promotionForAll[i].images[0]%>/276.200"/></div></a>
						<%if(promotionForAll[i].discountPrice){%>
						<p class="promotePrice"><%=promotionForAll[i].discountPrice%>元</p>
						<%}else {%>
						<p class="promotePrice">面议</p>
						<%}%>
						<p><span class=""><%=promotionForAll[i].region.province%></span>&nbsp;-<span class="">&nbsp;<%=promotionForAll[i].region.city%></span></p>
						<p class="promotionTitle" title="<%=promotionForAll[i].title%>"><%=promotionForAll[i].title%></p>
					</div>
					<%}%>
				</div>
	<div class=" paging">
		<pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" previous-text="上一页"
					next-text="下一页"	id="pagination"	class="pagination-sm" boundary-links="true" rotate="true" num-pages="numPages" ng-change="pageChanged(bigCurrentPage)"
					items-per-page="itemsPerPage"></pagination>
	</div>
				<div class="bandPromote">
					<div class="bandPromoteTitle">优秀品牌推荐</div>

				</div>
</div>
	</div>
<script type="text/javascript">
	$(function() {
		document.addEventListener("listen", function (e) {
			$(navArea).children("input").val(finalText);
			$(navArea).children("input").scope().regionData=finalText;
			$(navArea).children("input").scope().$apply();
		}, false);
		var demandSummary = $(".demand_summary"),
				sorting = $(".addIcon").parent(),
				requireselect = $(".nav li"),
				budgetmin = $(".budgetmin"),
				budgetmax = $(".budgetmax"),
				deletecategory = $(".deleteIcon").parent(),
				maxnum, minnum;
		var strId="";
		var str1 = "";
		var str2 = "";
		var str3 = "";
		var str4 = "";
		var navLeibie = $(".allcategoery .navLeibie");
		var navArea = $(".allcategoery .navArea");
		var navHangye = $(".allcategoery .navHangye");
		var navPrice = $(".allcategoery .navPrice");

			$(deletecategory).on("click", function () {
				var deleteinfo = $(this).attr("class");
				$(this).children(".navWord").val("");
				$(this).hide();

				switch (deleteinfo) {
					case ("navLeibie"):
						$(".leibie").children().css("background-color", "#fff").css("color", "grey");
						$(".leibie").children().data("selected", false);
						str1 = "";
						strId="";
						$(navLeibie).children(".navWord").val(str1);
						$(navLeibie).children(".navWord").scope().typesData=str1;
						$(navLeibie).children(".navWord").scope().currentCateListData=strId;
						$(navLeibie).children(".navWord").scope().$apply();
						break;
					case ("navHangye"):
						$(".hangye").children().css("background-color", "#fff").css("color", "grey");
						$(".hangye").children().data("selected", false);
						str2 = "";
						$(navHangye).children(".navWord").val(str2);
						$(navHangye).children(".navWord").scope().classifyData=str2;
						$(navHangye).children(".navWord").scope().$apply();
						break;
					case ("navPrice"):
						$(".price").children().css("background-color", "#fff").css("color", "grey");
						$(".price").children().data("selected", false);
						str3 = "";
						$(navPrice).children(".navWord").val(str3);
						$(navPrice).children(".navWord").scope().priceData=str3;
						$(navPrice).children(".navWord").scope().$apply();
						break;
					default:
						return;
				}
			})

			sorting.on("click", function () {
				if ($(this).data("flag")) {
					$(this).children().css("background-position", " -300px -8px");
					$(this).parent().children().children("ul").css("height", "90px").css("overflow", "auto");
				} else {
					$(this).children().css("background-position", " -274px -8px");
					$(this).parent().children().children("ul").css("height", "40px").css("overflow", "hidden")
				}
				$(this).data("flag", !$(this).data("flag"));
			})

			requireselect.on("click", function () {
				var selectedValue = $(this).text() + "、";
				var classValue = $(this).parent("ul").attr("class");
				if ($(this).data("selected")) {
					$(this).css("background-color", "#fff").css("color", "grey");
					switch (classValue) {
						case ("leibie"):
							selectedValueId=$(this).attr("id")+"、";
							strId=strId.replace(selectedValueId,"");
							str1 = str1.replace(selectedValue, "");
							$(navLeibie).children(".navWord").val(str1);
							$(navLeibie).children(".navWord").scope().typesData=str1;
							$(navLeibie).children(".navWord").scope().currentCateListData=strId
							$(navLeibie).children(".navWord").scope().$apply();
							break;
						case ("hangye"):
							str2 = str2.replace(selectedValue, "");
							$(navHangye).children(".navWord").val(str2);
							$(navHangye).children(".navWord").scope().classifyData=str2;
							$(navHangye).children(".navWord").scope().$apply();
							break;
						case ("price"):
							str3 = str3.replace(selectedValue, "");
							$(navPrice).children(".navWord").val(str3);
							$(navPrice).children(".navWord").scope().priceData=str3;
							$(navPrice).children(".navWord").scope().$apply();
							break;
						default:
							return
					}
					if ($(navLeibie).children(".navWord").val() == "") {
						$(navLeibie).css("display", "none");
						$(navLeibie).children().css("display", "none");

					}
					if ($(navHangye).children(".navWord").val() == "") {
						$(navHangye).css("display", "none");
						$(navHangye).children().css("display", "none");

					}
					if ($(navPrice).children(".navWord").val() == "") {
						$(navPrice).css("display", "none");
						$(navPrice).children().css("display", "none");

					}
				} else {
					if ($(navLeibie).children(".navWord").val() == "") {
						$(navLeibie).css("display", "none");
						$(navLeibie).children().css("display", "none");
					}
					if ($(navHangye).children(".navWord").val() == "") {
						$(navHangye).css("display", "none");
						$(navHangye).children().css("display", "none");
					}
					if ($(navPrice).children(".navWord").val() == "") {
						$(navPrice).css("display", "none");
						$(navPrice).children().css("display", "none");
					}
					$(this).css("background-color", "#f0f0f0").css("color", "#261f1a");
					switch (classValue) {
						case ("leibie"):
							var selectedValueId=$(this).attr("id")+"、";
							$(navLeibie).css("display", "block");
							$(navLeibie).css("display", "block").css("border","1px solid #da2f2f");
							str1 += selectedValue;
							strId+=selectedValueId;
							$(navLeibie).children(".navWord").val(str1);
							$(navLeibie).children(".navWord").scope().typesData=str1;
							$(navLeibie).children(".navWord").scope().currentCateListData=strId;
							$(navLeibie).children(".navWord").scope().$apply();
							$(navLeibie).children().css("display", "inline-block")
							break;
						case ("hangye"):
							$(navHangye).css("display", "block").css("border","1px solid #da2f2f");
							str2 += selectedValue;
							$(navHangye).children(".navWord").val(str2);
							$(navHangye).children(".navWord").scope().classifyData=str2;
							$(navHangye).children(".navWord").scope().$apply();
							$(navHangye).children().css("display", "inline-block")
							break;
						case ("price"):
							$(navPrice).css("display", "block").css("border","1px solid #da2f2f");
								$(".user_define div input").val("");
							if (str3 !== "") {
								str3 = selectedValue;
								$(navPrice).children(".navWord").val(str3);
								$(navPrice).children(".navWord").scope().priceData=str3;
								$(navPrice).children(".navWord").scope().$apply();
								$(navPrice).children().css("display", "inline-block");
								$(this).parent().children().css("background-color", "#fff").css("color", "grey");
								$(this).css("background-color", "#f0f0f0").css("color", "#261f1a");
								return;
							} else {
								str3 += selectedValue;
								$(navPrice).children(".navWord").val(str3);
								$(navPrice).children(".navWord").scope().priceData=str3;
								$(navPrice).children(".navWord").scope().$apply();
								$(navPrice).children().css("display", "inline-block");
							}
							break;
						default:
							return
					}
				}
				$(this).data("selected", !$(this).data("selected"));
			})

			$(".budgetSure").on("click", function () {
				maxnum = parseInt(budgetmax.val());
				minnum =parseInt(budgetmin.val());
				if(minnum==""){
					swal({
						title: "请填写最小价格",
						type: "error",
						confirmButtonText: "确定"
					});
					return false;
				}
				if(maxnum==""){
					swal({
						title: "请填写最大价格",
						type: "error",
						confirmButtonText: "确定"
					});
					return false;
				}
				if(minnum<0){
					swal({
						title: "最大价格不可小于0！",
						type: "error",
						confirmButtonText: "确定"
					});
				}
				if(maxnum<0){
					swal({
						title: "最大价格不可小于0！",
						type: "error",
						confirmButtonText: "确定"
					});
					return false;
				}
				if (maxnum && minnum &&minnum>0&&maxnum>0) {
					if (maxnum < minnum) {
						swal({
							title: "最大价格不可小于最小价格！",
							type: "error",
							confirmButtonText: "确定"
						});
						budgetmax.val(minnum);
						budgetmin.val(maxnum);
						$(navPrice).children(".navWord").scope().maxnum=minnum;
						$(navPrice).children(".navWord").scope().minnum=maxnum;
						$(navPrice).children(".navWord").scope().priceData="自定义"
						$(navPrice).scope().$apply();
					}else{
						$(navPrice).children(".navWord").scope().maxnum=maxnum;
						$(navPrice).children(".navWord").scope().minnum=minnum;
						$(navPrice).children(".navWord").scope().priceData="自定义"
						$(navPrice).scope().$apply();
					}
				}
				$(".budget ul li").css("background-color", "#fff").css("color", "grey");
				$(".budget ul li").data("selected", false);
				str3="";
				$(".navPrice").css("display", "inline-block")
			})



	})
</script>
