<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>城市合伙人</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.css">
    <link href="/themes/<%=staticforder%>/css/partner.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
    <link href="/plugins/sweetalert/sweetalert.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
</head>
<body>
<div id="fullPage">
    <div class="section section1">
        <div class="navwrapper">
            <div class="headNav">
                <div><a href="home"><img src="/themes/lanmai/images/index_logo.png"/></a></div>
                <div><a href="home">首页</a></div>
                <div class="fortender">
                    <a class="redFont" href="/tender/tenderlist">接单赚钱</a>
                    <img src="/themes/lanmai/images/hot.gif" alt="">
                </div>
                <div><a href="/resource/brandWin">品牌推广</a></div>
                <ul>
                    <li><a href="/users/login">登陆</a> <a href="/users/reg">注册</a></li>
                    <li><a href="helperCenter">帮助中心</a></li>
                    <li><a class="forwebnav">网站导航</a></li>
                </ul>
            </div>
        </div>
       <div class="title">
           <span></span><h1>城市运营商</h1><span></span>
       </div>
        <p>
            开启<a class="yellow">300+</a>城市合作 共享万亿广告制作市场
        </p>
        <div class="webnav">
            <div>
                <div class="webnavb"><a>找资源</a></div>
                <ul>
                    <li><a href="/resource/resourceListMake">制作</a></li>
                    <li><a href="/resource/resourceListMachine">设备</a></li>
                    <li><a href="/resource/resourceListMaterial">材料</a></li>
                </ul>
            </div>
            <div>
                <div class="webnavb"><a>发布信息</a></div>
                <ul>
                    <li><a href="/resource/demandRelease">发布需求</a></li>
                    <li><a href="/resource/demandRelease">发布安装</a></li>
                    <li><a href="/resource/reIndex">发布资源</a></li>
                </ul>
            </div>
            <div>
                <div class="webnavb"><a>个人中心</a></div>
                <ul>
                    <li><a href="privateInfo">个人资料</a></li>
                    <li><a href="myOrders">个人订单</a></li>
                    <li><a href="safetySet">账户设置</a></li>
                </ul>
            </div>
            <div>
                <div class="webnavb"><a>企业中心</a></div>
                <ul>
                    <li><a href="../tender/shopaccount">企业账户</a></li>
                    <li><a href="../tender/shoptender">企业招标</a></li>
                    <li><a href="../tender/shopbid">企业投标</a></li>
                </ul>
            </div>
            <div>
                <div class="webnavb"><a>品牌推广</a></div>
                <ul>
                    <li><a href="/resource/digitalMagazine">数字期刊</a></li>
                    <li><a class="redFont" href="/resource/brandWin">品牌推广</a></li>
                    <li><a href="/resource/vr">VR展馆</a></li>
                </ul>
            </div>
            <div>
                <div class="webnavb"><a>关注我们</a></div>
                <img src="/themes/lanmai/images/weicahrtqr.png"/>
            </div>

        </div>
    </div>
    <div class="section section2">
        <h1>制作宝城市运营商</h1>
        <a>旨在寻找每个城市的合作推广商，共享推广成果，共享经济布局升温<br/>
            让制作宝根植于每一座潜力城市</a>
        <div class="bgimg3"><img src="/themes/lanmai/images/section2.png"/></div>
    </div>
    <div class="section section3">
        <div class="imglist">
            <img class="imgone" src="/themes/lanmai/images/section31.png"/>
            <img class="imgtwo" src="/themes/lanmai/images/section32.png"/>
            <img class="imgthree" src="/themes/lanmai/images/section33.png"/>
        </div>
    </div>
    <div class="section section4">
        <h1>城市运营商合作模式</h1>
        <ul class="ulone">
            <li class="uloneone">FREE</li>
            <li class="ulonetwo">NO EXTRA WORK</li>
            <li class="ulonethree">COMPLETE SUPPORT</li>
            <li class="ulonefour">APPRAISALS</li>
        </ul>
         <div class="imglist">
             <img class="imgone" src="/themes/lanmai/images/section41.png"/>
             <img class="imgtwo" src="/themes/lanmai/images/section41.png"/>
             <img class="imgthree" src="/themes/lanmai/images/section41.png"/>
             <img class="imgfour" src="/themes/lanmai/images/section41.png"/>
         </div>
        <ul class="ultwo">
            <li class="ultwoone">制作宝不收取任何形式的入伙<br/>费保证金加入完全免费</li>
            <li class="ultwotwo">城市运营商不需要额外去做推<br/>广工作 在日常与广告制作人接<br/>触时顺带推广即可</li>
            <li class="ultwothree">制作宝准备了齐全的宣传物料<br/>提供专业的营销建议 城市运营<br/>商全无后顾之忧</li>
            <li class="ultwofour">制作宝对城市运营商有宽松人<br/>性化的考核机制，合伙人没有<br/>业绩压力</li>
        </ul>
    </div>
    <div class="section section5">
        <div class="encourageone">城市运营商的广告制作资源和品牌<br/>将在平台得到最优的展示</div>
        <div class="encouragetwo">所有当月在该城市成交的业务营业额<br/>运营商按比例分成</div>
        <div class="encouragethree">制作宝的优惠活动将第一时间<br/>惠及我们的城市运营商</div>
    </div>
    <div class="section section6">
        <h1>如果你是这样的</h1>
        <div class="imglist">
            <img class="imgone" src="/themes/lanmai/images/section61.png"/>
            <img class="imgtwo" src="/themes/lanmai/images/section62.png"/>
            <img class="imgthree" src="/themes/lanmai/images/section63.png"/>
        </div>
    </div>
    <div class="section section7">

            <h1>加入我们</h1>
        <div class="joinus">
            <div>
                <span><a class="redFont">*</a>城  市</span><input class="address" placeholder="请输入您所在的省份和城市，如湖北省武汉市"/>
            </div>
            <div>
                <span><a class="redFont">*</a>公司名称</span><input class="companyName" placeholder="请输入您的公司名称"/>
            </div>
            <div>
                <span><a class="redFont">*</a>联 系 人</span><input class="contactorName" placeholder="请输入您的姓名"/>
            </div>
            <div>
                <span><a class="redFont">*</a>联系电话</span><input class="contactorNum" placeholder="请输入您的联系电话"/>
            </div>
            <div>
                <span><a class="redFont">*</a>公司地址</span><input class="contactorWay" placeholder="请输入您的公司地址"/>
            </div>
            <div class="submmint">提 交</div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/move.js/0.5.0/move.min.js"></script>
<script src="/plugins/sweetalert/sweetalert.min.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>
<script src="/themes/<%=staticforder%>/js/partner.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>
</body>
</html>
			    	