<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.2,minimum-scale=0.2,maximum-scale=5" />
    <meta name="Keywords" content="<%=siteConfig.keywords%>"/>
    <meta name="Description" content="<%=siteConfig.cmsDescription%>"/>
    <link href="/themes/<%=staticforder%>/css/common.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
    <link href="/themes/<%=staticforder%>/css/detail.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
    <link href="/themes/<%=staticforder%>/css/core.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
    <link href="/plugins/citypicker/css/city-picker.css" rel="stylesheet">
    <script src="/javascripts/jquery-1.10.2.min.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>

    <!--[if IE 8]>
        <style>
            .index_ad_title ul.index_out02 li{
                font-size: 14px;
                margin-left: 5px;
                background: rgb(255,255,255);
                filter:alpha(opacity=20);
                position: static;
                zoom: 1;
            }
            .index_ad_title ul.index_out02 li a{
                position: relative;
            }
            .index_ad_title ul.index_out02 li a:hover{
                height: 24px;
                padding: 0 6px;
                border: 1px solid rgb(255,255,255);
            }
        </style>
    <![endif]-->
    <style>
        .haveListForMoney{
            position: relative;
        }
        .haveListForMoney img{
            position: absolute;
            width: 20%;
            top:-4px;
            right:-2px;
        }
        .mask{
            background-color:lightgrey;
            opacity: .5;
            position: fixed;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
        }
        .content{
            height:350px;
            width: 100%;
        }
        .loadingimg{
            height: 100px;
            width: 420px;
            margin: 0 auto;
            margin-top: 100px;
            position: relative;
        }
        .loadingimg p{
            position: absolute;
            top: 120px;
            left: 0px;
            color: grey;
            font-size: 15px;
        }
        .loadingimg span{
            display: block;
            position: absolute;
            bottom: 0;
            width: 9px;
            height: 5px;
            background: #9b59b6;
            animation: loadingimg 1.5s infinite ease-in-out;
        }
        .firstspan{
            left: 150px;
        }
        .secondspan{
            left: 161px;
            animation-delay: .2s !important;
        }
        .thirdspan{
            left: 172px;
            animation-delay: .4s !important;
        }
        .fourthspan{
            left: 183px;
            animation-delay: .6s !important;
        }
        .fifthspan{
            left: 194px;
            animation-delay: .8s !important;
        }
        .loadingimg .forlogin{
            right: 120px;
            bottom: -10px;
            width: 70px;
            height: 24px;
            border:1px solid grey;
            border-radius: 3px;
            text-align: center;
            line-height: 24px;
            background: none;
            animation: none;
        }
        @keyframes loadingimg {
            0%{height: 5px;transform: translateY(0px);background:#9b59b6}
            25%{height:30px;transform: translateY(15px);background:#3498db}
            50%{height: 5px;transform: translateY(0px);background:#9b59b6}
            100%{height: 5px;transform: translateY(0px);background:#9b59b6}
        }
    </style>
</head>
<body>
                        <!--页面的header部分开始-->
	<div class="index_header" id="top">
        <div class="index_header_top">
            <div class="index_header_top_con">
                <ul>
                <% if(!logined){ %>
                    <li><a>登录</a>&nbsp;&nbsp;<a href="/users/reg">注册</a></li>
                    <li><a >个人中心</a></li>
                <% }else{ %>

                    <li style="width: 126px">您好&nbsp;<a style="color:#DA2F2F">
                            <%if(userInfo.nickName){%>
                            <%=userInfo.nickName%>
                            <%}else {%>
                            <%=userInfo.userName%>
                            <%}%>
                        </a>
                    </li>
                    <li style="width: 40px"><a rel="nofollow" id="userLoginOut">退出</a></li>
                    <li><a>个人中心</a></li>
                <% } %>
                    <!--<li><a href="login">登录</a>&nbsp;&nbsp;<a href="reg">注册</a></li>-->
                    <li class="forwebnav">网站导航</li>
                    <li><a>帮助中心</a></li>
                </ul>
            </div>
        </div>
        <div class="index_header_mid">
            <div class="index_logo">
                <a> <img src="/themes/<%=staticforder%>/images/index_logo.png" alt=""> </a>
            </div>
            <div class="index_local">
                <ul>
                    <li class="index_address" style="margin-top: 25px;position: relative">
                        <span class="indexLocation_icon"><img src="/themes/<%=staticforder%>/images/location.png" alt=""/></span>&nbsp;
                        <a class="index_local_area" href="javascript:void(0)"></a>
                        <input type="hidden" value="" class="index_for_area">
                        <div style="position: relative;" class="regionHead">
                            <input readonly type="text" data-toggle="city-picker" placeholder="湖北" data-level="province" style="display: none"  >
                        </div>
                    </li>
                    <li class="index_place" style="font-size: 13px;margin-top: 8px;">
                        <a href="javascript:void(0)">[切换区域]</a>
                    </li>
                </ul>
            </div>
            <div class="index_search">
                <div class="index_search_box">
                    <div class="kindSelect" style="float: left">
                        <input class="serchKindName" type="hidden" value="all">
                        <a class="searchKinds" href="javascript:;">全部</a>
                        <dl style="display: none">
                            <dt id="all">广告全部</dt>
                            <dt id="xuqiu">广告需求</dt>
                            <dt id="zhaobiao">广告招标</dt>
                            <dt id="anzhuang">广告安装</dt>
                        </dl>
                    </div>

                    <input class="searchText" type="text" value="" placeholder="">

                    <a class="index_buttom" href="javascript:;"></a>
                    <div style="clear: both;"></div>

                </div>
            </div>
            <div class="index_for_resource">
                <a>免费发布广告资源</a>
                <a  style="width: 100px;" title="登陆后即可发布招标">发布招标</a>
            </div>
        </div>
	</div>
    <div class="index_header_menu">
        <div class="index_nav">
            <ul>
            <li class="index_square">广告制作服务平台</li>
            <li style="margin-left: 20px;"><a class="active">首页</a></li>
            <li class="haveListForMoney"><a class="redFont">接单赚钱</a><img src="/themes/<%=staticforder%>/images/hot.gif" alt=""></li>
            <li><a >找安装</a></li>
            <li><a>数字期刊</a></li>
            <li><a>VR展馆</a></li>
            <li><a>需求中心</a></li>
            <li class="aboutUsForMa"><a href="javascript:;">关注我们</a>
                <span class="charonAdIndexWhite"></span>
                <div class="charonAdIndexAboutUs">
                    <ul class="clearfix">
                        <li class="clearfix">
                            <a href="javascript:;"><img src="/themes/<%=staticforder%>/images/weicahrtqr.png" alt=""/></a>
                        <span style="color:#d33737;font-size: 14px;padding-top: 2px;">制作宝微信服务号</span>
                        <span>重要提醒不要错过</span>
                        <span>核心操作更加简单</span>
                        </li>
                        <li class="clearfix">
                            <a href="javascript:;"><img src="/themes/<%=staticforder%>/images/serviceqr.jpg" alt=""/></a>
                            <span style="color:#d33737;font-size: 14px;padding-top: 2px;">制作宝微信订阅号</span>
                            <span>重要提醒不要错过</span>
                            <span>核心操作更加简单</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li id="indexBrandsGet"><a>品牌推广服务</a></li>
            </ul>
        </div>
    </div>
                                <!--页面header部分结束-->
    <div class="mask">

    </div>
    <div class="content">
        <div class="loadingimg">
            <span class="firstspan"></span>
            <span class="secondspan"></span>
            <span class="thirdspan"></span>
            <span class="fourthspan"></span>
            <span class="fifthspan"></span>
            <span class="forlogin"><a href="login">点击跳转</a></span>
            <p>您暂未登陆，请登陆后再进行操作，<a class="timeout redFont">4 </a>秒后为您跳转到登陆页面</p>
        </div>
    </div>
    <!--首页底部部分-->
    <div class="index_footer">
        <div class="index_footer_con clearfix">
            <ul class="focusus">
                <li class="focustitlt">关注我们</li>
                <li class="focusicon"><a><img class="footqq" src="/themes/lanmai/images/footqq.png"/><img class="footweichart" src="/themes/lanmai/images/footweichart.png"/></a></li>
                <li class="focusqr"><a><img class="footqqqr" src="https://cdn.adquan.net/images/bigimg/qqqr.png/compress.only"/><img class="footweichartqr" src="/themes/lanmai/images/weicahrtqr.png"/></a></li>
            </ul>
            <ul class="index_footer_right">
                <li style="font-size: 18px;margin-bottom: 6px;"><a>关于制作宝</ahref></li>
                <li><a>服务条款</a></li>
                <li><a>隐私申明</a></li>
                <li><a>版权申明</a></li>
            </ul>
            <ul class="index_footer_right">
                <li style="font-size: 18px;margin-bottom: 6px;"><a >帮助中心</a></li>
                <li><a>新手入门</a></li>
                <li><a>品牌推广</a></li>
                <li><a>发布资源</a></li>
            </ul>
            <ul class="index_footer_right">
                <li style="font-size: 18px;margin-bottom: 6px;"><a >客服中心</a></li>
                <li><a >联系客服</a></li>
                <li><a>意见反馈</a></li>
            </ul>
            <ul class="index_footer_right">
                <li class="digmagazine">
                    <%if(ebookData[0]){%>
                    <a><img src="<%=ebookData[0].coverImg%>/compress.only"/></a>
                    <span><%=ebookData[0].title%></span>
                    <%}%>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <!--<ul>-->
                <!--<li>友情链接</li>-->
                <!--<li><a>大吉</a></li></li>-->
                <!--<li><a>如意</a></li></li>-->
                <!--<li><a>萌爷</a></li></li>-->
                <!--<li><a>颖子</a></li></li>-->
                <!--<li><a>九九</a></li></li>-->
                <!--<li><a>大个</a></li></li>-->
                <!--<li><a>财百万</a></li></li>-->
                <!--<li><a class="morelinks">更多</a></li></li>-->
            <!--</ul>-->
            <span>武汉蓝迈网络科技有限公司2016-<script>document.write((new Date()).getFullYear())</script>&nbsp;鄂&nbsp;ICP&nbsp;备 &nbsp;16023329号</span>
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        var i=4
        setInterval(
                function () {
                    i--
                    $(".timeout").text(i)
                    if(i==0){
                       location.href="/users/login"
                    }
                },1000)
    })
</script>