<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height;initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<title>制作宝-活动</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/themes/<%=staticforder%>/css/weui.min.css">
    <link rel="stylesheet" href="/themes/<%=staticforder%>/css/myStyle.css">
    <link rel="stylesheet" href="/themes/<%=staticforder%>/css/common.css">
     <!--引入 WeUI -->
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.0/weui.min.css">
    <script src="/javascripts/jquery-1.10.2.min.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>
    <style>
        .daKang>img{
            width: 87%;
        }
        .daKang{
            top:31%;
            right: -5px;
        }
        .daKang02 img{
            width: 68%;
        }
        .footerBar>img{
            width: 95%;
        }
        .experienceNow{
            position: absolute;

        }
        .experienceNow{
            width: 16%;
            position: absolute;
            right:38%;
            margin-left: 0;
            bottom:7em;
            background: #dd5757;
            text-align: center;
        }
        html,body{
            height: auto;
        }
    </style>
</head>
<body ontouchstart>
    <div class="activityPage" style="position: relative">
        <div class="activityPageTitle">
            <img src="/themes/<%=staticforder%>/images/about002.png" alt="">
        </div>
        <div class="activityNextIntroduce" style="margin-bottom: 2em;">
            <p class="activityNextIntroduceTitle" style="font-weight: bold;width: 8%;">简介</p>
            <p class="contentForService">制作宝网站是国内目前唯一一家致力于提供专业广告制作资源信息的服务平台。业务落点精确具体，涵盖广告制作、广告材料、广告设备等方面，网站至上线以来，受到广告人的热烈欢迎和支持。</p>
        </div>
        <div class="activityNextCross" style="padding-bottom: 1em;">
            <p class="activityNextIntroduceTitle" style="font-weight: bold;width: 16%">发展宗旨</p>
            <p class="contentForService" style="height: 8em;padding-bottom: 1em;width: 64%;">发展宗旨：平衡广告制作行业的价格趋势，提供真实可靠合理的广告制作资源和报价；助力于广告制作人和企业拓展渠道，同时也为有广告制作需求的用户提供便捷高效的获取途径。</p>

        </div>
        <div class="activityNextEMagazine" style="position: relative;height: 15em">
            <p class="activityNextIntroduceTitleM" style="font-weight: bold;width: 16%;">业务范畴</p>
            <div class="daKang02" style="position: absolute;left: 2%">
                <img src="/themes/<%=staticforder%>/images/about001.png" alt="">
            </div>
            <p style="text-align: justify;text-justify: inter-ideograph; height: auto;width: 60%;position: absolute;right: 2%;top:5em;" class="contentForService">业务范畴：目前制作宝作为覆盖广告制作资源的服务平台，业务覆盖整个广告制作产业链，包括制作、安装、材料及设备；在用户服务层面，制作宝不仅仅只是一个资源展示撮合平台，更是广告制作一站式服务平台，力求为企业用户提供全方位成熟的市场品牌营销和推广方案。</p>
        </div>
        <div class="activityNextEMagazine" style="height: 12em;position: relative">
            <p class="activityNextIntroduceTitleM" style="font-weight: bold;width: 20%;">核心价值观</p>
            <p style="text-align: justify;text-justify: inter-ideograph; height: auto; margin-top: 2em;" class="contentForService">用户第一 真实可信 创新发展</p>
            <a class="experienceNow" href="/wechat/weRegister">马上注册</a>
            <div class="footerBar" style="position:absolute; right: 2%;width: 35%;bottom:2em;">
                <img src="/themes/<%=staticforder%>/images/about004.png" alt="">
            </div>
        </div>
    </div>
    <div class="daKang">
        <img src="/themes/<%=staticforder%>/images/web0806.png" alt="">
    </div>
</body>
</html>

