<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height;initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<title>幸福天地-活动</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/themes/<%=staticforder%>/css/weui.min.css">
    <link rel="stylesheet" href="/themes/<%=staticforder%>/css/myStyle.css">
    <link rel="stylesheet" href="/themes/<%=staticforder%>/css/common.css">
     <!--引入 WeUI -->
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.0/weui.min.css">
    <script src="/javascripts/jquery-1.10.2.min.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>
</head>
<body ontouchstart>
    <div class="activityPage" style="position: relative">
        <div class="activityPageTitle">
            <img src="/themes/<%=staticforder%>/images/web0801.png" alt="">
        </div>
        <div class="activityNextIntroduce">
            <p class="activityNextIntroduceTitle">活动说明</p>
            <p class="contentForService">只要您成功邀请20名小小伙伴成为幸福天地注册会员，幸福天地将为</p>
            <p class="contentForService">您或您的企业免费制作数字期刊！活动时间</p>
            <p class="contentForService">2017.05.15-2017.12.31！</p>
        </div>
        <div class="activityNextCross">
            <p class="activityNextIntroduceTitle">活动流程</p>
            <p class="contentForService">1.会员<span><%=userInfo.userName%></span>您的邀请码为<span><%=inviteCode.code%></span></p>
            <p class="contentForService">2.您的小伙伴注册页面输入该邀请码，完成</p>
            <p class="contentForService">注册即可！<a class="registerNoW" href="javascript:;">马上注册</a></p>
        </div>
        <div class="activityNextEMagazine">
            <p class="activityNextIntroduceTitleM">什么是数字期刊</p>
            <p style="text-align: justify;text-justify: inter-ideograph; height: auto" class="contentForService">数字期刊是最新的集图文音效于一体的电子期刊，除了有立体惊艳的阅读体验之外，更能高效整合资源一体展示，更有传统期刊无法达到的传播速度！数字期刊支持手机阅读，支持微信朋友圈QQ空间分享！快来阅读我们的数字期刊体验一下吧！</p>
            <p class="experienceNow" href="javascript:;">点击阅读</p>
        </div>
        <div class="activityNextEMagazine">
            <p class="activityNextIntroduceTitleM">什么是幸福天地</p>
            <p style="text-align: justify;text-justify: inter-ideograph; height: auto" class="contentForService">什么，你居然还不知道幸福天地？！幸福天地可是2017年最火的广告制作资源服务网站！找制作，找材料，找设备一站集齐！更有成熟全面的品牌推广服务，助力广告企业腾飞！</p>
            <p class="experienceNow" href="javascript:;">了解更多</p>
        </div>
    </div>
    <div class="daKang">
        <img src="/themes/<%=staticforder%>/images/web0806.png" alt="">
    </div>
    <div CLASS="footerBar">
        <img src="/themes/<%=staticforder%>/images/web0807.png" alt="">
    </div>
</body>
</html>

