<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>制作宝 - 安装列表 - 资源搜索</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/themes/<%=staticforder%>/css/weui.min.css">
    <link rel="stylesheet" href="/themes/<%=staticforder%>/css/myStyle.css">
    <link rel="stylesheet" href="/themes/<%=staticforder%>/css/common.css">
    <link href="/plugins/citypicker/css/city-picker.css" rel="stylesheet">
     <!--引入 WeUI -->
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.0/weui.min.css">
    <link href="/plugins/sweetalert/sweetalert.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
    <script src="/plugins/sweetalert/sweetalert.min.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>
    <script src="http://api.map.baidu.com/api?ak=qRQ3AcmkBmZQGl1v4HG61Ltot2lGZRHU&v=2.0&services=false"></script>
    <script src="/javascripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <style>
        .makeListSearch{
            background: #DBDBDB;
        }
        .makeListSearch>.page__bd{
            width: 81%;
            margin-left: 18%;
        }
        .fixArea .city-picker-span{
            position: absolute;
            width: 100% !important;
            height: 100% !important;
            padding: 0;
            margin: 0;
            display: block;
            opacity: 0;
        }
        .haveNowAdress{
            position: absolute;
            left: 2%;
            top:.6em;
            background: #FB6383;
            color:#fff;
            display: block;
            width: 14%;
            height: 2em;
            text-align: center;
            border-radius: 5px;
            line-height: 2em;
        }
        .weui-search-bar{
            width: 76% !important;
        }
        .scroller{
            padding-bottom: 4em;
        }
        .scroller>ul{
            border-bottom: 1px solid #dcdcdc;
        }
        .userCenterConListDes>i{
            width: 5.5em;
            height: 2.5em;
            display: block;
            position: absolute;
            top:1.8em;
            right: 2.2em;
        }
        .userCenterConListDes>i>a>img{
            width: 100%;
        }
        .fixedCover{
            width: 100%;
            z-index: 5555;
            position: fixed;
            top:0 ;
            left:0;
        }
    </style>
    <script>
        function saveTop(){
            var fixTop=document.body.scrollTop;
            sessionStorage.setItem("fixTop",fixTop);
            /*var index = $(this).parents(".userCenterConListDes").index();
            sessionStorage.setItem("fixStatus",index)*/
        }
        $(function(){
            var backstus=sessionStorage.getItem("backStatus")
            if(backstus==1){
                setTimeout(function(){
                    sessionStorage.clear();
                },1500)
            }
            var page;
            var toArea=window.localStorage.getItem("area");
            if(toArea==null ||toArea==""||toArea=="null"){
                var toArea="湖北/武汉";
                window.localStorage.setItem("area", toArea);
            }else{
                window.localStorage.setItem("area", toArea);
            }
            var adress = window.localStorage.getItem("area");
            if(adress&&adress!=""){
                var Oadress = adress.split("/");
                if(Oadress.length==1){
                    if(Oadress[0].length>2){
                        var OName=Oadress[0].substr(0,2);
                        $(".haveNowAdress").html(OName+"▪▪▪");
                    }else{
                        $(".haveNowAdress").html(Oadress[0]);
                    }
                }else if(Oadress.length==2){
                    if(Oadress[0].length>2){
                        var OName=Oadress[1].substr(0,2);
                        $(".haveNowAdress").html(OName+"▪▪▪")
                    }else{
                        $(".haveNowAdress").html(Oadress[1]);
                    }
                }else if(Oadress.length==3){
                    if(Oadress[0].length>2){
                        var OName=Oadress[2].substr(0,2);
                        $(".haveNowAdress").html(OName+"▪▪▪");
                    }else{
                        $(".haveNowAdress").html(Oadress[2]);
                    }
                }
            }else{
                navigator.geolocation.getCurrentPosition(function (position) {
                    var lat = position.coords.latitude;
                    var lon = position.coords.longitude;
                    var point = new BMap.Point(lon, lat);  // 创建坐标点
                    // 根据坐标得到地址描述
                    var myGeo = new BMap.Geocoder();
                    myGeo.getLocation(point, function (result){
                        var province = result.addressComponents.province;
                        var Oprovince = province.replace(/省/,"")
                        var city = result.addressComponents.city;
                        var Ocity = city.replace(/市/,"");
                        window.localStorage.setItem("area", Oprovince+"/"+Ocity);
                        var nowLocalArea =Ocity;
                        if(nowLocalArea.length>2){
                          var nowLocalArea01 = nowLocalArea.substr(0,2)+"▪▪▪";
                        }else{
                          var nowLocalArea01 = nowLocalArea;
                        }
                        $('.haveNowAdress').html(nowLocalArea01);
                    });
                })
            }
        })
        $(function(){
            //默认的内容
            var page;
            var myurl=GetQueryString("text");
            if(myurl !=null && myurl.toString().length>1)
            {
                var text= GetQueryString("text");
                $("#searchInput").val(text);
                if(text.length>10) {
                    $('.weui-search-bar__label>span').html(text.substr(0, 10)+"...");
                }else{
                    $('.weui-search-bar__label>span').html(text);
                }
            }else{
                var text  = "";
                $("#searchInput").val(text);
                $('.weui-search-bar__label>span').html("查找安装资源");
            }
           $("#searchInputLost").val(text);
            var homelocation=window.localStorage.getItem("area");
            $(".scroller>ul").children().remove();
            if(homelocation==""){
                var region="";
            }else{
                var OhomeLocation = homelocation.split("/");
                if(OhomeLocation.length==1){
                    var region = {province: homelocation }
                }else if(OhomeLocation.length==2){
                    var region={province:OhomeLocation[0],city:OhomeLocation[1]}
                }else if(OhomeLocation.length==3){
                    var region={province:OhomeLocation[0],city:OhomeLocation[1],district:OhomeLocation[2]}
                }
            }
            if(window.sessionStorage.length>0){
                var pageview=sessionStorage.getItem("pageview");
                var refreshedAt=sessionStorage.getItem("refreshedAt");
                var fixpage =sessionStorage.getItem("fixpage")
                var fixTop = sessionStorage.getItem("fixTop")
                if(pageview||refreshedAt){
                    if(pageview){
                        if(pageview=="-1"){
                            var order={pageview:-1}
                        }else{
                            var order={pageview:1}
                        }
                    }
                    if(refreshedAt){
                        if(refreshedAt=="-1"){
                            var order={refreshedAt:-1}
                        }else{
                            var order={refreshedAt:1}
                        }
                    }
                }else{
                    var order={createdAt:-1}
                }


            }else{
                if(fixpage ==null){
                    var fixpage = 1;
                }else{
                    var fixpage=fixpage;
                }
                var seeVal = $(".changeSeeVal").val();
                if(seeVal==1){
                    var order={refreshedAt:-1}
                }else{
                    var order={refreshedAt:-1}
                }
            }

            page=1;
            $.ajax({
                type:"POST",
                url:"/resource/queryInstalls",
                data:JSON.stringify({
                    text:text,
                    region:region,
                    order:order,
                    page:page,
                    limit:fixpage*15
                }),
                contentType: "application/json",
                success:function(res){
                    if(res.docs){
                        for(var i=0;i<res.docs.length;i++){
                            var listcontents="<div class='userCenterConListDes'><i> <a href='tel:"+res.docs[i].phoneNum+"'><img src='/themes/lanmai/images/web0304.png' alt=''></a> </i><ul class='cloneAllSize' style='list-style: none'><input type='hidden' value='"+res.docs[i]._id+"'><li class='centerFixTitle'><a style='color:#717070 '  href='javascript:;'>"+((res.docs[i].title.length>30)?(res.docs[i].title.substr(0,30)+"..."):res.docs[i].title)+"</a></li><li class='centerFixNameArea'><span>服务地区："+res.docs[i].serviceRegion.province+"&nbsp;&nbsp;"+res.docs[i].serviceRegion.city+"&nbsp;&nbsp;"+res.docs[i].serviceRegion.district+"</span></li><li class='centerFixDescription'>详情："+res.docs[i].details+"</li><li></li></ul></div>";

                            $(".lmFixKindsListNum").remove();
                            $("#wrapper").show();
                            $("#wrapper>.scroller>ul").append(listcontents).css({height:"auto"})
                            $(".scroller").css({"padding-bottom":"4em"})
                        }
                        if(res.docs.length>=15){
                            $('.more').show();
                        }else if(res.docs.length>=0&&res.docs.length<15){
                            $('.more').show()
                            $('.more').html("没有更多了！")
                        }
                    }else if(res=="查询为空"){
                        NOTFOUNDCODE="<p style='text-align: center'>查询结果为空！</p>";
                        $('.more').hide()
                        $("#wrapper>.scroller>ul").append(NOTFOUNDCODE)
                    }
                    document.body.scrollTop = fixTop
                }

            })



        })
    </script>
</head>
<body ontouchstart>
	<div class="makeContainer">
        <div class="makeListSearch">
            <!--搜索框部分的内容开始-->
            <div class="page__bd">
                <!--<a href="javascript:;" class="weui-btn weui-btn_primary">点击展现searchBar</a>-->
                <span class="haveNowAdress"></span>
                <div class="weui-search-bar" id="searchBar">
                    <form class="weui-search-bar__form">
                        <div class="weui-search-bar__box">
                            <i class="weui-icon-search"></i>
                            <input type="hidden" id="searchInputLost" value="">
                            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="查找安装资源" required/>
                            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                        </div>
                        <label class="weui-search-bar__label" id="searchText">
                            <i class="weui-icon-search"></i>
                            <span>查找安装资源</span>
                        </label>
                    </form>
                    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
                </div>
                <a class="ICanFix" href="weICanFix">我能安装</a>
            </div>

            <script type="text/javascript">
                $(function(){
                    $('#cascadePickerBtn').click(function(){
                        $('.weui-picker').css({animation: "a ease .3s forwards;"})
                    })
                    var $searchBar = $('#searchBar'),
                            $searchResult = $('#searchResult'),
                            $searchText = $('#searchText'),
                            $searchInput = $('#searchInput'),
                            $searchClear = $('#searchClear'),
                            $searchCancel = $('#searchCancel');

                    function hideSearchResult(){
                        $searchResult.hide();
                        $searchInput.val('');
                    }
                    function cancelSearch(){
                        hideSearchResult();
                        $searchBar.removeClass('weui-search-bar_focusing');
                        $searchText.show();
                    }

                    $searchText.on('click', function(){
                        $searchBar.addClass('weui-search-bar_focusing');
                        $searchInput.focus();
                    });
                    $searchInput
                            .on('blur', function () {
                                if(!this.value.length) cancelSearch();
                            })
                            .on('input', function(){
                                if(this.value.length) {
                                    $searchResult.show();
                                } else {
                                    $searchResult.hide();
                                }
                            })
                    ;
                    $searchClear.on('click', function(){
                        hideSearchResult();
                        $searchInput.focus();
                    });
                    $searchCancel.on('click', function(){
                        cancelSearch();
                        $searchInput.blur();
                    });
                });
            </script>
            <!--搜索框部分的内容结束-->
        </div>
        <div class="makeListTab">
            <ul class="clearfix">
                <li class="fixArea clearfix" style="position: relative">
                    <span><img src="/themes/<%=staticforder%>/images/web0301.png" alt=""></span>
                    <i>地区</i>
                    <input class="homelocation" readonly type="text" data-toggle="city-picker" placeholder="湖北/武汉">
                </li>
                <input class="changeSeeVal" type="hidden" value="-1">
                <li class=" fixSeeNum clearfix">
                    <span><img src="/themes/<%=staticforder%>/images/web0302.png" alt=""></span>
                    <i>浏览量</i>
                </li>
                <input class="changeNewTime" type="hidden" value="-1">
                <li class="fixListNewTime clearfix">
                    <span><img src="/themes/<%=staticforder%>/images/web0305.png" alt=""></span>
                    <i>更新时间</i>
                </li>
            </ul>
        </div>
        <div class="fixListContent">
            <!--第一条开始-->

            <!--第一条结束-->

            <div id="wrapper">
                <div class="scroller">
                    <ul>

                    </ul>
                    <div class="more"><i class="pull_icon"></i><span>上拉加载...</span></div>
                </div>
            </div>

        </div>
        <div class="weui_tabbar weui_tabbar01">
            <a href="getHomeInfo" class="weui_tabbar_item ">
                <div class="weui_tabbar_icon">
                    <img src="/themes/<%=staticforder%>/images/web0108.png" alt="">
                </div>
                <p class="weui_tabbar_label">首页</p>
            </a>
            <a href="userCenter" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="/themes/<%=staticforder%>/images/web0109.png" alt="">
                </div>
                <p class="weui_tabbar_label">我的</p>
            </a>
        </div>
        <script type="text/javascript">
            var page = 1;
            var ispost = temp = true;
            function checkload(){
                if ($(window).scrollTop() + $(window).height() + 50 >= $(document).height() &&　temp == true) {
                    loadlist();
                }
            }
            $(function(){
                //loadlist('add');
                //滚动加载
                $(window).bind('scroll',function(){
                    checkload();
                });
            });

            function loadlist(){
                if(ispost && temp){
                    temp = false;
                    var myurl=GetQueryString("text");
                    if(myurl !=null && myurl.toString().length>1)
                    {
                        var searchName = GetQueryString("text");
                    }else{
                        var searchName = $("#searchInput").val();
                    }
                    var homelocation=window.localStorage.getItem("area");
                    if(homelocation==""){
                        var region="";
                    }else{
                        var OhomeLocation = homelocation.split("/");
                        if(OhomeLocation.length==1){
                            var region = {province: homelocation }
                        }else if(OhomeLocation.length==2){
                            var region={province:OhomeLocation[0],city:OhomeLocation[1]}
                        }else if(OhomeLocation.length==3){
                            var region={province:OhomeLocation[0],city:OhomeLocation[1],district:OhomeLocation[2]}
                        }
                    }
                    if(window.sessionStorage.length>0){
                        var pageview=sessionStorage.getItem("pageview");
                        var refreshedAt=sessionStorage.getItem("refreshedAt");
                        if(pageview||refreshedAt){
                            if(pageview){
                                if(pageview=="-1"){
                                    var order={pageview:-1}
                                }else{
                                    var order={pageview:1}
                                }
                            }
                            if(refreshedAt){
                                if(refreshedAt=="-1"){
                                    var order={refreshedAt:-1}
                                }else{
                                    var order={refreshedAt:1}
                                }
                            }
                        }else{
                            var order={createdAt:-1}
                        }


                    }else{
                        var seeVal = $(".changeSeeVal").val();
                        if(seeVal==1){
                            var order={refreshedAt:1}
                        }else{
                            var order={refreshedAt:-1}
                        }
                    }

                    var fixpage =sessionStorage.getItem("fixpage")
                    if(fixpage){
                        page =parseInt(fixpage)+1;
                        sessionStorage.clear();
                    }else{
                        page=page+1
                    }

                    $.ajax({
                        url:"/resource/queryInstalls",
                        type:'POST',
                        data:JSON.stringify({
                            text:searchName,
                            region:region,
                            order:order,
                            page:page
                        }),
                        contentType:'application/json',
                        success:function(res){
                            temp = true;
                            var NOTFONDCODE="查询为空";
                            console.log(res)
                            if(res.docs){
                                for (var i = 0; i < res.docs.length; i++) {
                                    var listcontents="<div class='userCenterConListDes'><i> <a href='tel:"+res.docs[i].phoneNum+"'><img src='/themes/lanmai/images/web0304.png' alt=''></a> </i><ul class='cloneAllSize' style='list-style: none'><input type='hidden' value='"+res.docs[i]._id+"'><li class='centerFixTitle'><a style='color:#717070 '  href='javascript:;'>"+((res.docs[i].title.length>30)?(res.docs[i].title.substr(0,30)+"..."):res.docs[i].title)+"</a></li><li class='centerFixNameArea'><span>服务地区："+res.docs[i].serviceRegion.province+"&nbsp;&nbsp;"+res.docs[i].serviceRegion.city+"&nbsp;&nbsp;"+res.docs[i].serviceRegion.district+"</span></li><li class='centerFixDescription'>详情："+res.docs[i].details+"</li><li></li></ul></div>";
                                    $('.scroller>ul').append(listcontents);
                                }
                             /*   changeTitleName();*/
                                if(res.docs.length>=15){
                                    $('.more').show();
                                    sessionStorage.setItem("fixpage",page);
                                }else if(res.docs.length>=0&&res.docs.length<15){
                                    $('.wrapper').show()
                                    $('.more').html("没有更多了！")
                                    sessionStorage.setItem("fixpage",page);
                                }
                            }else if(res==NOTFONDCODE){
                                $("#wrapper").show()
                                $('.more').html("没有更多了！")
                            }
                        },
                        error: function(e){
                        }

                    });
                }
            }
        </script>
    </div>
    <div class="fixedCover"></div>
</body>
</html>
<script src="/plugins/citypicker/city-picker.data.js"></script>
<script src="/plugins/citypicker/city-picker.js"></script>
<script>
    $(function(){

        /*search list*/
        $("#searchInput").on('keypress',function(e) {
            var keycode = e.keyCode;
            var searchName = $(this).val();
            var homelocation=window.localStorage.getItem("area");
            if(homelocation==""){
              var region="";
            }else{
                var OhomeLocation = homelocation.split("/");
                if(OhomeLocation.length==1){
                    var region = {province: homelocation }
                }else if(OhomeLocation.length==2){
                    var region={province:OhomeLocation[0],city:OhomeLocation[1]}
                }else if(OhomeLocation.length==3){
                    var region={province:OhomeLocation[0],city:OhomeLocation[1],district:OhomeLocation[2]}
                }
            }
            if(keycode=='13') {
                e.preventDefault();
                sessionStorage.clear()
                window.location.href=searchName!=""&&searchName?'weFixList?text='+escape(searchName):'weFixList'
                $(".scroller>ul").children().remove();
                //请求搜索接口
                page=1;
                $.ajax({
                    type:"POST",
                    url:"/resource/queryInstalls",
                    data:JSON.stringify({
                        text:searchName,
                        region:region
                    }),
                    contentType: "application/json",
                    success:function(res){
                        if(res.docs){
                            for(var i=0;i<res.docs.length;i++){
                                var listcontents="<div class='userCenterConListDes'><i> <a href='tel:"+res.docs[i].phoneNum+"'><img src='/themes/lanmai/images/web0304.png' alt=''></a> </i><ul class='cloneAllSize' style='list-style: none'><input type='hidden' value='"+res.docs[i]._id+"'><li class='centerFixTitle'><a style='color:#717070 '  href='javascript:;'>"+((res.docs[i].title.length>30)?(res.docs[i].title.substr(0,30)+"..."):res.docs[i].title)+"</a></li><li class='centerFixNameArea'><span>服务地区："+res.docs[i].serviceRegion.province+"&nbsp;&nbsp;"+res.docs[i].serviceRegion.city+"&nbsp;&nbsp;"+res.docs[i].serviceRegion.district+"</span></li><li class='centerFixDescription'>详情："+res.docs[i].details+"</li><li></li></ul></div>";
                                $(".lmFixKindsListNum").remove();
                                $("#wrapper").show();
                                $("#wrapper>.scroller>ul").append(listcontents).css({height:"auto"})
                                $(".scroller").css({"padding-bottom":"4em"})
                            }
                            if(res.docs.length>=15){
                                $('.more').show();
                            }else if(res.docs.length>=0&&res.docs.length<15){
                                $('.more').show()
                                $('.more').html("没有更多了！")
                            }else if(res=="查询为空"){
                                NOTFOUNDCODE="<p style='text-align: center'>查询结果为空！</p>";
                                $("#wrapper").show();
                                $("#wrapper>.scroller>ul").append(NOTFOUNDCODE)
                            }
                        }
                    }
                })
            }
        })

        //pageView list
        $(".fixSeeNum").click(function(){
            sessionStorage.clear();
            var searchName = $("#searchInputLost").val();
            var homelocation=window.localStorage.getItem("area");
            $(".scroller>ul").children().remove();
            if(homelocation==""){
                var region="";
            }else{
                var OhomeLocation = homelocation.split("/");
                if(OhomeLocation.length==1){
                    var region = {province: homelocation }
                }else if(OhomeLocation.length==2){
                    var region={province:OhomeLocation[0],city:OhomeLocation[1]}
                }else if(OhomeLocation.length==3){
                    var region={province:OhomeLocation[0],city:OhomeLocation[1],district:OhomeLocation[2]}
                }
            }
            var seeVal = $(".changeSeeVal").val();
            if(seeVal==1){
                $('.changeSeeVal').val("-1");
                var order={pageView:1}
                sessionStorage.setItem("pageview","1")
            }else{
                $('.changeSeeVal').val(1);
                var order={pageView:-1}
                sessionStorage.setItem("pageview","-1")
            }
            page=1;
            $.ajax({
                type:"POST",
                url:"/resource/queryInstalls",
                data:JSON.stringify({
                    text:searchName,
                    region:region,
                    order:order
                }),
                contentType: "application/json",
                success:function(res){
                    if(res.docs){
                        for(var i=0;i<res.docs.length;i++){
                            var listcontents="<div class='userCenterConListDes'><i> <a href='tel:"+res.docs[i].phoneNum+"'><img src='/themes/lanmai/images/web0304.png' alt=''></a> </i><ul class='cloneAllSize' style='list-style: none'><input type='hidden' value='"+res.docs[i]._id+"'><li class='centerFixTitle'><a style='color:#717070 '  href='javascript:;'>"+((res.docs[i].title.length>30)?(res.docs[i].title.substr(0,30)+"..."):res.docs[i].title)+"</a></li><li class='centerFixNameArea'><span>服务地区："+res.docs[i].serviceRegion.province+"&nbsp;&nbsp;"+res.docs[i].serviceRegion.city+"&nbsp;&nbsp;"+res.docs[i].serviceRegion.district+"</span></li><li class='centerFixDescription'>详情："+res.docs[i].details+"</li><li></li></ul></div>";
                            $(".lmFixKindsListNum").remove();
                            $("#wrapper").show();
                            $("#wrapper>.scroller>ul").append(listcontents).css({height:"auto"})
                            $(".scroller").css({"padding-bottom":"4em"})
                        }
                        if(res.docs.length>=15){
                            $('.more').show();
                        }else if(res.docs.length>=0&&res.docs.length<15){
                            $('.more').show()
                            $('.more').html("没有更多了！")
                        }
                    }else if(res=="查询为空"){
                        NOTFOUNDCODE="<p style='text-align: center'>查询结果为空！</p>";
                        $("#wrapper").show();
                        $("#wrapper>.scroller>ul").append(NOTFOUNDCODE)
                    }
                }
            })
        })


        /*createTime list*/
        $(".fixListNewTime").click(function(){
            sessionStorage.clear()
            var searchName = $("#searchInputLost").val();
            var homelocation=window.localStorage.getItem("area");
            $(".scroller>ul").children().remove();
            if(homelocation==""){
                var region="";
            }else{
                var OhomeLocation = homelocation.split("/");
                if(OhomeLocation.length==1){
                    var region = {province: homelocation }
                }else if(OhomeLocation.length==2){
                    var region={province:OhomeLocation[0],city:OhomeLocation[1]}
                }else if(OhomeLocation.length==3){
                    var region={province:OhomeLocation[0],city:OhomeLocation[1],district:OhomeLocation[2]}
                }
            }
            var timeVal = $(".changeNewTime").val();
            if(timeVal==1){
                $('.changeNewTime').val("-1");
                var order={refreshedAt:1}
                sessionStorage.setItem("refreshedAt","1")
            }else{
                $('.changeNewTime').val(1);
                var order={refreshedAt:-1}
                sessionStorage.setItem("refreshedAt","-1")
            }
            page=1;
            $.ajax({
                type:"POST",
                url:"/resource/queryInstalls",
                data:JSON.stringify({
                    text:searchName,
                    region:region,
                    order:order
                }),
                contentType: "application/json",
                success:function(res){
                    if(res.docs){
                        for(var i=0;i<res.docs.length;i++){
                            var listcontents="<div class='userCenterConListDes'><i> <a href='tel:"+res.docs[i].phoneNum+"'><img src='/themes/lanmai/images/web0304.png' alt=''></a> </i><ul class='cloneAllSize' style='list-style: none'><input type='hidden' value='"+res.docs[i]._id+"'><li class='centerFixTitle'><a style='color:#717070 '  href='javascript:;'>"+((res.docs[i].title.length>30)?(res.docs[i].title.substr(0,30)+"..."):res.docs[i].title)+"</a></li><li class='centerFixNameArea'><span>服务地区："+res.docs[i].serviceRegion.province+"&nbsp;&nbsp;"+res.docs[i].serviceRegion.city+"&nbsp;&nbsp;"+res.docs[i].serviceRegion.district+"</span></li><li class='centerFixDescription'>详情："+res.docs[i].details+"</li><li></li></ul></div>";
                            $(".lmFixKindsListNum").remove();
                            $("#wrapper").show();
                            $("#wrapper>.scroller>ul").append(listcontents).css({height:"auto"})
                            $(".scroller").css({"padding-bottom":"4em"})
                        }
                        if(res.docs.length>=15){
                            $('.more').show();
                        }else if(res.docs.length>=0&&res.docs.length<15){
                            $('.more').show()
                            $('.more').html("没有更多了！")
                        }
                    }else if(res=="查询为空"){
                        NOTFOUNDCODE="<p style='text-align: center'>查询结果为空！</p>";
                        $("#wrapper").show();
                        $("#wrapper>.scroller>ul").append(NOTFOUNDCODE)
                    }
                }
            })
        })
        /*citypicker searchlist*/
        //地区搜索
        $(document.body).on('click', '.city-select a', function () {
            sessionStorage.clear();
            var OsName = $(this).html();
            if(OsName.length>2){
                var OName=OsName.substr(0,2);
                $(".haveNowAdress").html(OName+"▪▪▪")
            }else{
                $(".haveNowAdress").html(OsName)
            }
                var con=$(".homelocation").val();
                window.localStorage.setItem("area", con);
                var searchName = $("#searchInputLost").val();
                var homelocation=window.localStorage.getItem("area");
                $(".scroller>ul").children().remove();
                $('.more').hide()
                $(".lmFixKindsListNum").remove();
                //请求搜索接口 {province: homelocation, city:0 , district:0 }
                if(homelocation==""){
                    var region="";
                }else{
                    var OhomeLocation = homelocation.split("/");
                    if(OhomeLocation.length==1){
                        var region = {province: homelocation }
                    }else if(OhomeLocation.length==2){
                        var region={province:OhomeLocation[0],city:OhomeLocation[1]}
                    }else if(OhomeLocation.length==3){
                        var region={province:OhomeLocation[0],city:OhomeLocation[1],district:OhomeLocation[2]}
                    }
                }
            page=1;
                $.ajax({
                    type:"POST",
                    url:"/resource/queryInstalls",
                    data:JSON.stringify({
                        text:searchName,
                        region:region
                    }),
                    contentType: "application/json",
                    success:function(res){
                        if(res.docs){
                            for(var i=0;i<res.docs.length;i++){
                                var listcontents="<div class='userCenterConListDes'><i> <a href='tel:"+res.docs[i].phoneNum+"'><img src='/themes/lanmai/images/web0304.png' alt=''></a> </i><ul class='cloneAllSize' style='list-style: none'><input type='hidden' value='"+res.docs[i]._id+"'><li class='centerFixTitle'><a style='color:#717070 '  href='javascript:;'>"+((res.docs[i].title.length>30)?(res.docs[i].title.substr(0,30)+"..."):res.docs[i].title)+"</a></li><li class='centerFixNameArea'><span>服务地区："+res.docs[i].serviceRegion.province+"&nbsp;&nbsp;"+res.docs[i].serviceRegion.city+"&nbsp;&nbsp;"+res.docs[i].serviceRegion.district+"</span></li><li class='centerFixDescription'>详情："+res.docs[i].details+"</li><li></li></ul></div>";
                                $("#wrapper").show();
                                $("#wrapper>.scroller>ul").append(listcontents).css({height:"auto"})
                            }
                            if(res.docs.length>=15){
                                $('.more').show();
                            }else if(res.docs.length>=0&&res.docs.length<15){
                                $('.more').show()
                                $('.more').html("没有更多了！")
                            }
                        }else if(res=="查询为空"){
                            NOTFOUNDCODE="<p style='text-align: center'>该区域查询结果为空！</p>";
                            $("#wrapper").show();
                            $("#wrapper>.scroller>ul").append(NOTFOUNDCODE)
                        }
                    }
                })
            /*}*/

        })

        $(document).on("click",".cloneAllSize",function(){
            var fixTop=document.body.scrollTop;
            sessionStorage.setItem("fixTop",fixTop);
            var index=$(this).parent(".userCenterConListDes").index();
            var fIndex=parseInt(index/15)+1;
            sessionStorage.setItem("fixpage",fIndex)
            var id=$(this).children("input").val();
            window.location.href="weDetailFix?value="+id+"";
        })
        $(".city-picker-span").click(function(){
            var Oheight = $(document).height();
            $(".fixedCover").css({height:Oheight})
            $(".fixedCover").show();
        })
        $(".fixedCover").click(function(){
            $(this).hide()
        })
    })
    /*setTimeout(function(){
        sessionStorage.clear()
    },1500)*/

    //参数截取

    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }
    window.onload=function(){
        function isWeiXin(){
            var ua = window.navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i) == 'micromessenger'){
                return true;
            }else{
                var bod=document.getElementsByTagName("body")[0];
                bod.innerHTML="<p style='text-align: center;color:#68E868'>请在微信客户端打开页面</p>";
                swal({
                            title: '您好，请使用微信客户端浏览！',
                            text: "即将跳转-制作宝-安装资源列表",
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "确定",
                            closeOnConfirm: false
                        },
                        function(isConfirm) {
                            if (isConfirm) {
                                window.location.href="/resource/resourceFixList";
                            }
                        })
                return false;
            }
        }
        isWeiXin()
    }
</script>