<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height;initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<title>幸福天地-密码找回</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/themes/<%=staticforder%>/css/weui.min.css">
    <link rel="stylesheet" href="/themes/<%=staticforder%>/css/myStyle.css">
    <link rel="stylesheet" href="/themes/<%=staticforder%>/css/common.css">
     <!--引入 WeUI -->
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.0/weui.min.css">
    <link href="/plugins/sweetalert/sweetalert.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
    <script src="/plugins/sweetalert/sweetalert.min.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>
    <script src="/javascripts/jquery-1.8.3.min.js?vesion=<%=siteConfig.version%>"></script>
    <script src="/themes/<%=staticforder%>/js/jionAds.js"></script>
</head>
<body ontouchstart>
    <div class="registerHeader">
        <img src="http://adquan-1253780958.cosgz.myqcloud.com/images/bigimg/web0902.png" alt="">
        <div>
            <a class="backPasButton forUsers" href="javascript:;">重置密码</a>
        </div>
        <a class="goBackIndex" href="getHomeInfo"></a>
    </div>
    <div class="registerBox getBox">
        <ul>
            <li class="forgetPhone clearfix" style="position: relative">
                <i class="icon" style="padding-top: 2em">
                    <img src="/themes/<%=staticforder%>/images/web0903.png" alt="">
                    <span>+86</span>
                </i>
                <span class="haveInformation" style="margin-top: 1em;">
                    <input class="forgetUsername" type="text" value="" placeholder="请输入手机号">
                    <input type="button" class="sendCode forgetPasSendCode" value="发送验证码" disabled>
                    <input type="hidden" value="" class="storeMyNmeD">
                </span>
                <em id="forgetUserName_wright-error"></em>
            </li>
            <li class="forgetCode clearfix" style="position: relative">
                <i class="icon" style="padding-top: 1em;">
                    <img style="width: 70%;padding-left: .5em;" src="/themes/<%=staticforder%>/images/web0904.png" alt="">
                    <span class="forGetBackPasWord" style="padding-left: .7em;">验证码</span>
                </i>
                <span class="haveInformation" style="width: 68%">
                    <input class="forgetCode01" style="margin-top: 2em;" type="text" value="" placeholder="请输入验证码">
                </span>
                <em id="forgetCode_wright-error"></em>
            </li>
            <li class="forgetPas clearfix" style="position: relative">
                <i class="icon" style="padding-top: 1em;padding-bottom: 1em;">
                    <img src="/themes/<%=staticforder%>/images/web0906.png" alt="">
                    <span>密码</span>
                </i>
                <span class="haveInformation">
                    <input class="forgetPassword" style="margin-top: 1em;" type="password" value="" placeholder="请输入新登录密码">
                </span>
                <em id="forgetPas_wright-error"></em>
            </li>

            <li style="border-bottom: none;" class="forGetBack"><a href="javascript:;">确&nbsp;&nbsp;&nbsp;&nbsp;认</a> </li>
        </ul>
    </div>
</body>
</html>


