<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title><%=title%></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Keywords" content="<%=articleDetail.keywords%>"/>
	<meta name="Description" content="<%=articleDetail.tags%>"/>
	<meta name="viewport" content="width=device-width,initial-scale=0.2,minimum-scale=0.2,maximum-scale=5" />
	<link rel="stylesheet" href="/themes/<%=staticforder%>/css/common.css?vesion=<%=siteConfig.version%>">
	<link href="/plugins/sweetalert/sweetalert.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
	<link rel="stylesheet" href="/themes/<%=staticforder%>/css/digitalMagazine.css?vesion=<%=siteConfig.version%>">
	<script src="/javascripts/jquery-1.10.2.min.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>
	<script src="/plugins/sweetalert/sweetalert.min.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>
	<script src="/themes/<%=staticforder%>/js/hack.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>

</head>
<body>
<!--数字期刊等的头部的部分开始-->
<div class="charonDigitalHeaderPart">
	<div class="charonDigitalHeaderTop">
		<div class="charonDigitalHeaderTopCon">
			<ul>
				<% if(!logined){ %>
				<li><a href="/users/login">登录</a>&nbsp;&nbsp;<a href="/users/reg">注册</a></li>
				<li><a href="/users/login">个人中心</a></li>
				<% }else{ %>
				<li>您好&nbsp;<a style="color:#DA2F2F" href="/users/recentDemandAndResource">
						<%if(userInfo.nickName){%>
						<%=userInfo.nickName%>
						<%}else {%>
						<%=userInfo.userName%>
						<%}%></a>
				</li>
				<li ><a rel="nofollow" href="/users/logout" id="userLoginOut">退出</a></li>
				<li><a href="/users/recentDemandAndResource">个人中心</a></li>
				<% } %>
				<li class="forwebnav">网站导航</li>
				<li><a href="../users/helperCenter">帮助中心</a></li>
			</ul>
		</div>
	</div>
	<div class="charonDigitalHeaderNav">
		<div class="charonDigitalLogo">
			<a href="../users/home"><img src="/themes/<%=staticforder%>/images/charonDigitalLogo.png" alt=""></a>
		</div>
		<div class="charonDigitalMenu">
			<ul>
				<li><a href="../users/home">首页</a></li>
				<li class="haveListForMoney"><a href="../tender/tenderlist" class="redFont">接单赚钱</a><img src="/themes/<%=staticforder%>/images/hot.gif" alt=""></li>
				<li><a href="../resource/resourceFixList" >找安装</a></li>
				<li><a href="digitalMagazine" id="diditalMagazines">数字期刊</a></li>
				<li><a href="vr" id="VR">VR展馆</a></li>
				<li><a href="/resource/secondDemand">需求中心</a></li>
				<li><a href="brandWin" id="brandWin">品牌推广</a></li>
			</ul>
		</div>
		<div class="charonDigitalSearch">
			<input type="text" value="" placeholder="请输入企业名">
			<a href="javascript:;"></a>
		</div>
	</div>
</div>

<div class="webnav">
	<div>
		<div class="webnavb"><a>找资源</a></div>
		<ul>
			<li><a href="/resource/resourceListMake">制作</a></li>
			<li><a href="/resource/resourceListMachine">设备</a></li>
			<li><a href="/resource/resourceListMaterial">材料</a></li>
		</ul>
	</div>
	<div>
		<div class="webnavb"><a>发布信息</a></div>
		<ul>
			<li><a href="/resource/demandRelease">发布需求</a></li>
			<li><a href="/resource/myFix">发布安装</a></li>
			<li><a href="/resource/reIndex">发布资源</a></li>
		</ul>
	</div>
	<div>
		<div class="webnavb"><a>个人中心</a></div>
		<ul>
			<li><a href="privateInfo">个人资料</a></li>
			<li><a href="myOrders">个人订单</a></li>
			<li><a href="safetySet">账户设置</a></li>
		</ul>
	</div>
	<div>
		<div class="webnavb"><a>企业中心</a></div>
		<ul>
			<li><a href="../tender/shopaccount">企业账户</a></li>
			<li><a href="../tender/shoptender">企业招标</a></li>
			<li><a href="../tender/shopbid">企业投标</a></li>
		</ul>
	</div>
	<div>
		<div class="webnavb"><a>品牌推广</a></div>
		<ul>
			<li><a href="/resource/digitalMagazine">数字期刊</a></li>
			<li><a class="redFont" href="/resource/brandWin">品牌推广</a></li>
			<li><a href="/resource/vr">VR展馆</a></li>
		</ul>
	</div>
	<div>
		<div class="webnavb"><a>关注我们</a></div>
		<img src="/themes/lanmai/images/weicahrtqr.png"/>
	</div>

</div>
<!--数字期刊等的头部的部分结束-->
<!--数字期刊内容的部分开始-->
<%-body %>
<!--数字期刊内容的部分结束-->
<!--底部公共部分-->
<div class="index_footer">
	<div class="index_footer_con clearfix">
		<ul class="focusus">
			<li class="focustitlt">关注我们</li>
			<li class="focusicon"><a><img class="footqq" src="/themes/lanmai/images/footqq.png"/><img class="footweichart" src="/themes/lanmai/images/footweichart.png"/></a></li>
			<li class="focusqr"><a><img class="footqqqr" src="https://cdn.adquan.net/images/bigimg/qqqr.png/compress.only"/><img class="footweichartqr" src="/themes/lanmai/images/weicahrtqr.png"/></a></li>
		</ul>
		<ul class="index_footer_right">
			<li style="font-size: 18px;margin-bottom: 6px;"><a href="../users/helperCenter#1">关于制作宝</a></li>
			<li><a href="../users/helperCenter#7">服务条款</a></li>
			<li><a href="../users/helperCenter#4">隐私申明</a></li>
			<li><a href="../users/helperCenter#3">版权申明</a></li>
		</ul>
		<ul class="index_footer_right">
			<li style="font-size: 18px;margin-bottom: 6px;"><a href="../users/helperCenter#2">帮助中心</a></li>
			<li><a href="../users/helperCenter#2">新手入门</a></li>
			<li><a href="../users/helperCenter#2">品牌推广</a></li>
			<li><a href="../users/helperCenter#2">发布资源</a></li>
		</ul>
		<ul class="index_footer_right">
			<li style="font-size: 18px;margin-bottom: 6px;"><a href="../users/helperCenter#5">客服中心</a></li>
			<li><a href="../users/helperCenter#5">联系客服</a></li>
			<li><a href="../users/helperCenter#5">意见反馈</a></li>
		</ul>
		<ul class="index_footer_right">
			<li class="digmagazine" style="font-size: 18px;">
				<%if(ebookData[0]){%>
				<a href="../resource/digitalMagazine"><img src="<%=ebookData[0].coverImg%>/compress.only"/></a>
				<span><%=ebookData[0].title%></span>
				<%}%>
			</li>
		</ul>
	</div>
	<div class="copyright">
		<!--<ul>-->
			<!--<li>友情链接</li>-->
			<!--<li><a>大吉</a></li></li>-->
			<!--<li><a>如意</a></li></li>-->
			<!--<li><a>萌爷</a></li></li>-->
			<!--<li><a>颖子</a></li></li>-->
			<!--<li><a>九九</a></li></li>-->
			<!--<li><a>大个</a></li></li>-->
			<!--<li><a>财百万</a></li></li>-->
			<!--<li><a class="morelinks">更多</a></li></li>-->
		<!--</ul>-->
		<span>武汉蓝迈网络科技有限公司2016&nbsp;鄂&nbsp;ICP&nbsp;备 &nbsp;16023329号</span>
	</div>
</div>
<!--底部公共部分-->
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?89323d159de3da4db3d8ba79f8643edd";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>
</body>
<script>
	$(function () {
		$(".footqq").on("mouseenter",function () {
			$(".footweichartqr").css("display","none");
			$(".footqqqr").css("display","block");
		})
		$(".footweichart").on("mouseenter",function () {
			$(".footqqqr").css("display","none");
			$(".footweichartqr").css("display","block");
		})
		$(".forwebnav").hover(function(){
			$(".webnav").show();
			$(".forwebnav").addClass("forwenavstyle")
		},function(){
			$(".webnav").hide();
			$(".forwebnav").removeClass("forwenavstyle")
		})
		$(".webnav").on("mouseleave",function () {
			$(".webnav").hide();
			$(".forwebnav").removeClass("forwenavstyle")
		})
		$(".webnav").on("mouseenter",function () {
			$(".webnav").show();
			$(".forwebnav").addClass("forwenavstyle")
		})
	})
</script>
</html>